<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style th:replace="~{/admin.shared/style}"></style>

<body>
<!--<script>-->

<!--     fetch('http://localhost:8081/users', {-->
<!--        method: 'GET',-->
<!--        headers: new Headers({-->
<!--            'Authorization': 'Bearer ' + [[${token}]],-->
<!--            'Content-Type': 'application/json'-->
<!--        }),-->
<!--        body: { /* some data */ }-->
<!--    });-->
<!--</script>-->
<div class="wrapper">
    <div th:insert="admin.shared/header::header"></div>
    <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

    <div class="content-wrapper" style="padding-left: 50px">
    </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>


</body>

</html>