<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body class="sidebar-mini">
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3" th:if="${typeUser.name() == 'CLIENT'}">Агент</h4>
      <h4 class="mb-3" th:if="${typeUser.name() == 'CONTRACTOR'}">Отдел продаж</h4>
      <form class="needs-validation" method="post" enctype="application/x-www-form-urlencoded" th:action="@{/agent_add/{idUser}(idUser = ${idUser})}" th:object="${agent}">
        <input type="hidden" name="idAgent" value="0"/>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="Введите имя..."   required="" th:value="${agent.getName()}">
            <div th:if="${#fields.hasErrors('name')}">
              <div class="text-danger">
                <p th:errors="*{name}"></p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" name="surname" id="lastName"  placeholder="Введите фамилию..." th:value="${agent.getSurname()}">
            <div th:if="${#fields.hasErrors('surname')}">
              <div class="text-danger">
                <p th:errors="*{surname}"></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="mail" class="form-label">Почта</label>
            <input type="text" class="form-control" name = "mail" id="mail" placeholder="you@example.com"  required="" th:value="${agent.getMail()}">
<!--            <p class="text-danger" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></p>-->
            <div th:if="${#fields.hasErrors('mail')}">
              <div class="text-danger">
              <p th:errors="*{mail}"></p>
            </div>
            </div>

          </div>
          <div class="col-sm-6">
            <label for="username" class="form-label">Номер</label>
            <div class="input-group has-validation">
              <span class="input-group-text">+380</span>
              <input type="text" class="form-control" name ="number" id="username" placeholder="Введите номер..." required="" th:value="${agent.getNumber()}">
              <div th:if="${#fields.hasErrors('number')}">
                <div class="text-danger">
                  <p th:errors="*{number}"></p>
                </div>
              </div>
            </div>
          </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>

        </div>
      </form>


    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>

</body>

</html>