<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Apartment</title>
  <link rel="icon" type="image/png" th:href="@{/admin/dist/img/favicon.png}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body class="sidebar-mini">
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/add_apartment}" th:object="${apartment}">
    <div style="display: flex; justify-content: space-between">
      <h4 class="mb-3">Квартира не от застройщика</h4>
    </div>
        <input type="hidden" name="idApartment" value="0">
        <input type="hidden" name="frame" value="0">
    <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Номер</label>
            <input type="number" class="form-control" name="number" id="firstName" placeholder="Введите номер..." th:value="${apartment.getNumber()}" required="">
              <div th:if="${#fields.hasErrors('number')}">
                  <div class="text-danger">
                      <p th:errors="*{number}"></p>
                  </div>
              </div>
          </div>

          <div class="col-sm-12">
            <label for="floatingTextarea">Описание</label>
            <textarea class="form-control"  id="floatingTextarea" name="description" placeholder="Введите описание..."  th:field="*{description}"></textarea>
              <div th:if="${#fields.hasErrors('description')}">
                  <div class="text-danger">
                      <p th:errors="*{description}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12">
            <label  class="form-label">Адрес</label>
            <input type="text" class="form-control" id="address" name="address"  th:value="${apartment.getAddress()}"  data-mask="address" placeholder="Введите адрес...(г.Город, р.Район, ул.Улица,1)" >
            <div th:if="${#fields.hasErrors('address')}">
              <div class="text-danger">
                <p th:errors="*{address}"></p>
              </div>
            </div>

          </div>
          <div class="col-sm-12">
            <label  class="form-label">Цена</label>
            <input type="number" class="form-control" name="price"  placeholder="Введите цену..." th:value="${apartment.getPrice()}" required="">
              <div th:if="${#fields.hasErrors('price')}">
                  <div class="text-danger">
                      <p th:errors="*{price}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">

            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="lcd" th:field="*{lcd}">
                <option th:each="lcd : ${lcds}" th:value="${lcd.getIdLcd()}" th:text="${lcd.getName()}" th:selected="${apartment.getLcd() == lcd.getIdLcd()}"></option>
              </select>
              <label for="floatingSelect" class="form-label">ЖК</label>
            </div>
          </div>
            <div class="col-sm-6">

                <div class="form-floating">
                    <select class="form-select"  aria-label="Floating label select example" name="user" th:field="*{user}">
                        <option th:each="user : ${users}" th:value="${user.getIdUser()}" th:text="${user.getMail()}" th:selected="${apartment.getUser() == user.getIdUser()}"></option>
                    </select>
                    <label for="floatingSelect" class="form-label">Владелец</label>
                </div>
            </div>
          <label for="inputImg">Главная картина</label>
          <div th:if="${#fields.hasErrors('file')}">
            <div class="text-danger">
              <p th:errors="*{file}"></p>
            </div>
          </div>
          <div class="form-group" style="display: flex" id="imgDiv">

            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img th:src="@{/admin/dist/img/default.jpg}" id= "imgMain" style="width: 75px; height: 75px" alt="null">
            </div>
            <input type="file" name="file" id="inputImg" class="form-control" style="margin-left: 30px; margin-top: 30px" accept=".jpg,.jpeg,.png">
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  imgMain.src = URL.createObjectURL(file)
                }
              }
            </script>

          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="foundingDocument">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.FoundingDocument).values()}" th:value="${type.name()}" th:text="${type.getValue()}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Документы основания</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="state">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.State).values()}" th:value="${type.name}" th:text="${type.getValue()}"></option>

              </select>
              <label for="floatingSelect" class="form-label">Жилое состояние</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="type">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.TypeApartment).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Назначение</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="balconyType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.BalconyType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Балкон/Лоджия</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="calculation">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Calculation).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Варианты расчета</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="countRoom">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CountRoom).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Количество комнат</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="layout">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.LayoutType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Планировка</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="heatingType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Отопления</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="communicationType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CommunicationType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Способ связи</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="commission">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Commission).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Коммисия агенту</label>
            </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Общая площадь</label>
            <input type="number" class="form-control" name="totalArea"  placeholder="Введите общую площадь..." th:value="${apartment.getTotalArea()}"  required="">
              <div th:if="${#fields.hasErrors('totalArea')}">
                  <div class="text-danger">
                      <p th:errors="*{totalArea}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Площадь кухни</label>
            <input type="number" class="form-control" name="kitchenArea"  placeholder="Введите площадь кухни..."  th:value="${apartment.getKitchenArea()}" required="">
              <div th:if="${#fields.hasErrors('kitchenArea')}">
                  <div class="text-danger">
                      <p th:errors="*{kitchenArea}"></p>
                  </div>
              </div>
          </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>

        </div>
    </div>
      </form>



    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>
<script src="https://unpkg.com/imask"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>-->
<script>
  // document.addEventListener('DOMContentLoaded', () => {
  //
  //   const mask = (dataValue, options) => {
  //     const elements = document.querySelectorAll(`[data-mask="${dataValue}"]`)
  //     if (!elements) return
  //
  //     elements.forEach(el => { // для каждого из полей ввода
  //       IMask(el, options) // инициализируем плагин imask для необходимых полей ввода с переданными параметрами маски
  //     })
  //   };
  //
  //   mask('address', {
  //     mask: 'г., р., ул.*********,000', // Здесь "*" обозначает любую букву или цифру, "9" обозначает цифру, а "A" обозначает букву.
  //   })
  //   // mask('address', {
  //   //   mask: 'г.********', // Здесь "*" обозначает любую букву или цифру, "9" обозначает цифру, а "A" обозначает букву.
  //   // })
  //   // mask('address', {
  //   //   mask: 'г., р., ул.*********,0',
  //   //   blocks: ['г.', 'р.', 'ул.', '0'] // Добавляем блоки вручную без использования "*", чтобы обработать переход при вводе запятой
  //   // })
  // })




  // document.addEventListener('DOMContentLoaded', () => {
  //   const mask = (dataValue, options) => {
  //     const elements = document.querySelectorAll(`[data-mask="${dataValue}"]`)
  //     if (!elements) return
  //
  //     elements.forEach((el, index) => { // для каждого из полей ввода
  //       const inputOptions = Object.assign({}, options)
  //       inputOptions.lazy = false // отключаем отложенную инициализацию маски
  //
  //       const input = IMask(el, inputOptions) // инициализируем плагин imask для необходимых полей ввода с переданными параметрами маски
  //       input.on("accept", () => { // при принятии ввода каждого символа
  //         const inputValue = input.unmaskedValue // получаем текущее значение поля ввода без маски
  //
  //         if (inputValue.endsWith(",")) { // если введена запятая
  //           const nextIndex = index + 1 // получаем индекс следующего блока маски
  //
  //           if (nextIndex < elements.length) { // если следующий блок маски существует
  //             const nextInput = elements[nextIndex] // получаем следующее поле ввода
  //             nextInput.focus() // устанавливаем фокус на следующее поле ввода
  //           }
  //         }
  //       })
  //     })
  //   }
  //
  //   mask('address', {
  //     mask: [
  //       {
  //         mask: 'г.*********', // префикс для города
  //         lazy: true // включаем отложенную инициализацию маски
  //       },
  //       {
  //         mask: ' р.*********', // префикс для района
  //         lazy: true // включаем отложенную инициализацию маски
  //       },
  //       {
  //         mask: ' ул.*********', // префикс для улицы
  //         lazy: true // включаем отложенную инициализацию маски
  //       },
  //       '000' // номер дома
  //     ],
  //     lazy: true // включаем отложенную инициализацию маски
  //   })
  // })


  document.addEventListener('DOMContentLoaded', () => {

    const mask = (dataValue, options) => {
      const elements = document.querySelectorAll(`[data-mask="${dataValue}"]`)
      if (!elements) return

      elements.forEach(el => {
        const maskOptions = { ...options } // создаем копию объекта options

        if (dataValue === 'address') {
          const delimiter = ', ' // разделитель после запятой
          const delimiter1 = ',' // разделитель после запятой
          const area = ' р.' // текст, который добавляется после запятой
          const street = ' ул.'
          var count = 0;

          // Добавляем обработчик события ввода для поля адреса
          el.addEventListener('input', e => {
            const value = e.target.value // получаем текущее значение поля

            if (value.includes(',')) {
              const parts = value.split(',')
              console.log(parts.length)
              if (count === 0) {
                 // разделяем значение на части
                const city = parts[0].trim() // извлекаем город и удаляем пробелы
                const updatedValue = `${city}${delimiter}${area}` // формируем обновленное значение
                count++;

                el.value = updatedValue // обновляем значение поля

                const nextInput = el.nextElementSibling // получаем следующее поле ввода
                if (nextInput) {
                  nextInput.focus() // устанавливаем фокус на следующее поле
                }
              }
              else if (count === 1 && parts.length===3) {
                const city = parts[0].trim() // извлекаем город и удаляем пробелы
                const area1 = parts[1].trim() // извлекаем город и удаляем пробелы
                const updatedValue = `${city}${delimiter}${area1}${delimiter}${street}` // формируем обновленное значение
                count++;

                el.value = updatedValue // обновляем значение поля

                const nextInput = el.nextElementSibling // получаем следующее поле ввода
                if (nextInput) {
                  nextInput.focus() // устанавливаем фокус на следующее поле
                }
              }
              else if (count === 2 && parts.length===4) {
                const city = parts[0].trim() // извлекаем город и удаляем пробелы
                const area1 = parts[1].trim() // извлекаем город и удаляем пробелы
                const street1 = parts[2].trim() // извлекаем город и удаляем пробелы
                const updatedValue = `${city}${delimiter}${area1}${delimiter}${street1}${delimiter1}` // формируем обновленное значение
                count++;

                el.value = updatedValue // обновляем значение поля

                const nextInput = el.nextElementSibling // получаем следующее поле ввода
                if (nextInput) {
                  nextInput.focus() // устанавливаем фокус на следующее поле
                }
              }
            }
          })
        }

        IMask(el, maskOptions)
      })
    };


    mask('address', {
      mask: [
        {
          mask: 'г.**********************************************************************************************************************************************************************************************************************************************************', // префикс для города
          lazy: true // включаем отложенную инициализацию маски
        },
        {
          mask: ' р.*********', // префикс для района
          lazy: true // включаем отложенную инициализацию маски
        },
        {
          mask: ' ул.*********', // префикс для улицы
          lazy: true // включаем отложенную инициализацию маски
        },
        '000' // номер дома
      ],
      lazy: true // включаем отложенную инициализацию маски
    })
  })



  // document.addEventListener('DOMContentLoaded', () => {
  //   const mask = (dataValue, options) => {
  //     const elements = document.querySelectorAll(`[data-mask="${dataValue}"]`)
  //     if (!elements) return
  //
  //     elements.forEach(el => {
  //       const maskOptions = { ...options }
  //
  //       if (dataValue === 'address') {
  //         const delimiter = ', '
  //         const suffix = ' р.'
  //
  //         el.addEventListener('input', e => {
  //           const value = e.target.value
  //
  //           if (value.includes(',')) {
  //             const parts = value.split(',')
  //             const city = parts[0].trim()
  //             const updatedValue = `${city}${delimiter}${suffix}`
  //
  //             el.value = updatedValue
  //
  //             const nextInput = el.nextElementSibling
  //             if (nextInput) {
  //               const nextMask = nextInput.dataset.mask
  //               const nextMaskOptions = options[nextMask]
  //               const nextMaskLength = nextMaskOptions.mask.length
  //
  //               // Проверяем, если следующий блок маски существует и не достигнут конец массива масок
  //               if (nextMask && nextMaskLength > 0) {
  //                 const nextMaskPrefix = nextMaskOptions.mask[nextMaskLength - 1]
  //                 const prefixLength = nextMaskPrefix.length
  //
  //                 nextInput.setSelectionRange(prefixLength, prefixLength)
  //                 nextInput.focus()
  //               }
  //             }
  //           }
  //         })
  //       }
  //
  //       IMask(el, maskOptions)
  //     })
  //   };
  //
  //   mask('address', {
  //     mask: [
  //       {
  //         mask: 'г.*********',
  //         lazy: true
  //       },
  //       {
  //         mask: ' р.*********',
  //         lazy: true
  //       },
  //       {
  //         mask: ' ул.*********',
  //         lazy: true
  //       },
  //       '000'
  //     ],
  //     lazy: true
  //   })
  // })







</script>
</body>


</html>