<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body>
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/add_apartment}">
    <div style="display: flex; justify-content: space-between">
      <h4 class="mb-3">Квартира не от застройщика</h4>
    </div>
    <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Номер</label>
            <input type="text" class="form-control" name="number" id="firstName" placeholder="Введите имя..."  required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>

          <div class="col-sm-12">
            <label for="floatingTextarea">Описание</label>
            <textarea class="form-control"  id="floatingTextarea" name="description"></textarea>


          </div>
          <div class="col-sm-12">
            <label  class="form-label">Адрес</label>
            <input type="text" class="form-control" name="address"  placeholder="Введите имя..." required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>
          <div class="col-sm-12">
            <label  class="form-label">Цена</label>
            <input type="text" class="form-control" name="price"  placeholder="Введите имя..."  required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>
          <div class="col-sm-6">

            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="lcd">
                <option th:each="lcd : ${lcds}" th:value="${lcd.getIdLcd()}" th:text="${lcd.getName()}"></option>
              </select>
              <label for="floatingSelect" class="form-label">ЖК</label>
            </div>
          </div>
            <div class="col-sm-6">

                <div class="form-floating">
                    <select class="form-select"  aria-label="Floating label select example" name="user">
                        <option th:each="user : ${users}" th:value="${user.getIdUser()}" th:text="${user.getMail()}"></option>
                    </select>
                    <label for="floatingSelect" class="form-label">Владелец</label>
                </div>
            </div>
          <label for="inputImg">Главная картина</label>
          <div class="form-group" style="display: flex">

            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img src="../admin/dist/img/default.jpg" id= "imgMain" style="width: 75px; height: 75px" alt="null">
            </div>
            <input type="file" name="file" id="inputImg" class="form-control" style="margin-left: 30px; margin-top: 30px">
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  imgMain.src = URL.createObjectURL(file)
                }
              }
            </script>

          </div>
          <div>
            <label>Галерея картинок</label>
            <div class="card-body">
              <label>Размер 1000х190</label>
              <div class="row" >

<!--                <div class="col-sm-3">-->
<!--                  <img id="img1" class="img-fluid mb-2" alt="white sample">-->
<!--                  <button type="submit" style="-->
<!--                position: absolute;-->
<!--                right: -1px;-->
<!--                top: -10px;-->
<!--                z-index: 11;-->
<!--                border: 2px solid black;-->
<!--                height: 30px;-->
<!--                width: 30px;-->
<!--                box-sizing: border-box;-->
<!--                padding: 2px;-->
<!--                border-radius: 50%;-->
<!--            " >-->
<!--                    <img src="/admin/dist/img/cross.png" width="20px" height="20px">-->
<!--                  </button>-->
<!--                  <input type="file" id="inputImg1" name="galleryPhoto" class="form-control">-->
<!--                  <script>-->
<!--                    inputImg1.onchange = evt => {-->
<!--                      const [file] = inputImg1.files-->
<!--                      if (file) {-->
<!--                        img1.src = URL.createObjectURL(file)-->
<!--                      }-->
<!--                    }-->
<!--                  </script>-->
<!--                </div>-->
                <div class="col-sm-3" style="margin-left: 20px">
                  <div style="display: flex; justify-content: center">
                    <a>
                        <img src="../admin/dist/img/addCinema.png" width="150px">
                    </a>
                  </div>
                </div>



              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="foundingDocument">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.FoundingDocument).values()}" th:value="${type.name()}" th:text="${type.getValue()}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Документы основания</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="state">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.State).values()}" th:value="${type.name}" th:text="${type.getValue()}"></option>

              </select>
              <label for="floatingSelect" class="form-label">Жилое состояние</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="type">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.TypeApartment).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Назначение</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="balconyType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.BalconyType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Балкон/Лоджия</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="calculation">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Calculation).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Варианты расчета</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="countRoom">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CountRoom).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Количество комнат</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="layout">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.LayoutType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Планировка</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="heatingType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Отопления</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="communicationType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CommunicationType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Способ связи</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="commission">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Commission).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Коммисия агенту</label>
            </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Общая площадь</label>
            <input type="text" class="form-control" name="totalArea"  placeholder="Введите имя..."  required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Площадь кухни</label>
            <input type="text" class="form-control" name="kitchenArea"  placeholder="Введите имя..."  required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>

        </div>
    </div>
      </form>



    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>


</body>

</html>