<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>
<!--  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->


<body>
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/apartment_edit/{id}(id=${apartment.getIdApartment()})}" th:object="${apartment}">
       <input type="hidden" name="idApartment" th:value="${apartment.getIdApartment()}">
        <input type="hidden" name="frame" th:value="${apartment.getFrame()}">
    <div style="display: flex; justify-content: space-between" th:if = "${apartment.getFrame()==0}">
      <h4 class="mb-3">Квартира не от застройщика</h4>
    </div>
        <div style="display: flex; justify-content: space-between" th:if = "${apartment.getFrame()!=0}">
            <h4 class="mb-3">Квартира от застройщика</h4>
            <input type="hidden" name="lcd" th:value="${apartment.getLcd()}">
            <input type="hidden" name="user" th:value="${apartment.getUser()}">
        </div>
    <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Номер</label>
            <input type="text" class="form-control" name="number" id="firstName" placeholder="Введите имя..." th:value="${apartment.getNumber()}" required="">
              <div th:if="${#fields.hasErrors('number')}">
                  <div class="text-danger">
                      <p th:errors="*{number}"></p>
                  </div>
              </div>
          </div>

          <div class="col-sm-12">
            <label for="floatingTextarea">Описание</label>
            <textarea class="form-control" th:placeholder="${apartment.getDescription()}" id="floatingTextarea" name="description" th:field="*{description}" th:value="${apartment.getDescription()}"></textarea>
              <div th:if="${#fields.hasErrors('description')}">
                  <div class="text-danger">
                      <p th:errors="*{description}"></p>
                  </div>
              </div>

          </div>

<!--            th:value="${apartment.getAddress().getCity()+' '+apartment.getAddress().getArea()+' '+apartment.getAddress().getStreet()+' '+apartment.getAddress().getNumber()}"-->
            <div class="col-sm-12">
                <label  class="form-label">Адрес</label>
                <input type="text" class="form-control" name="address"  th:value="${apartment.getAddress()}" placeholder="Введите имя..." >
                <div th:if="${#fields.hasErrors('address')}">
                    <div class="text-danger">
                        <p th:errors="*{address}"></p>
                    </div>
                </div>
            </div>
          <div class="col-sm-12">
            <label  class="form-label">Цена</label>
            <input type="text" class="form-control" name="price"  placeholder="Введите имя..." th:value="${apartment.getPrice()}" required="">
              <div th:if="${#fields.hasErrors('price')}">
                  <div class="text-danger">
                      <p th:errors="*{price}"></p>
                  </div>
              </div>
          </div>
          <div th:if = "${apartment.getFrame()==0}") style="display: flex">
              <div class="col-sm-6">

                <div class="form-floating">
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="lcd" th:field="*{lcd}">
                    <option th:each="lcd : ${lcds}" th:value="${lcd.getIdLcd()}" th:text="${lcd.getName()}" th:selected="${apartment.getLcd() == lcd.getIdLcd()}"></option>
                  </select>
                  <label for="floatingSelect" class="form-label">ЖК</label>
                </div>
              </div>
              <div class="col-sm-6">

                <div class="form-floating">
                  <select class="form-select"  aria-label="Floating label select example" name="user" th:field="*{user}">
                    <option th:each="user : ${users}" th:value="${user.getIdUser()}" th:text="${user.getMail()}" th:selected="${apartment.getUser() == user.getIdUser()}"></option>
                  </select>
                  <label for="floatingSelect" class="form-label">Владелец</label>
                </div>
              </div>
          </div>
          <label for="inputImg">Главная картинка</label>
            <div th:if="${#fields.hasErrors('file')}">
                <div class="text-danger">
                    <p th:errors="*{file}"></p>
                </div>
            </div>
          <div class="form-group" style="display: flex">

            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img th:src="${apartment.getMainPhoto()}" id= "imgMain" style="width: 75px; height: 75px" alt="null">
            </div>
            <input type="file" name="file" id="inputImg" class="form-control" th:value="${apartment.getMainPhoto()}" style="margin-left: 30px; margin-top: 30px">
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  imgMain.src = URL.createObjectURL(file)
                }
              }
            </script>

          </div>
          <div id="galleryDiv">
            <label>Галерея картинок</label>
              <div th:if="${#fields.hasErrors('galleryPhoto')}">
                  <div class="text-danger">
                      <p th:errors="*{galleryPhoto}"></p>
                  </div>
              </div>
            <div class="card-body">
              <label>Размер 1000х190</label>
              <div class="row" >

                <div class="col-sm-3" th:each="photo:${apartment.getPhotoList()}">
                  <img th:src="${photo.getFileName()}" th:id="'gallery'+${photo.getIdPhotos()}" class="img-fluid mb-2" alt="white sample">
<!--                  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--                  <script>-->
<!--                      function deleteData(idPhoto, idApartment) {-->

<!--                        $.ajax({-->
<!--                          url: "/delete_photo",-->
<!--                          method: "POST",-->
<!--                          data: {-->
<!--                            idPhoto: idPhoto,-->
<!--                            idApartment: idApartment-->
<!--                          } ,-->

<!--                          success: function(response) {-->
<!--                            window.location.href = "/apartment_edit/" + idApartment;-->
<!--                          },-->
<!--                          error: function(xhr, status, error) {-->
<!--                            console.log('Произошла ошибка:', error);-->
<!--                            alert('Произошла ошибка при выполнении запроса');-->
<!--                          }-->
<!--                      });-->
<!--                    }-->
<!--                  </script>-->

                  <button type="button" th:attr="onclick='deleteData(' + ${photo.getIdPhotos()} + ', ' + ${apartment.getIdApartment()} + ')'" style="
                position: absolute;
                right: -1px;
                top: -10px;
                z-index: 11;
                border: 2px solid black;
                height: 30px;
                width: 30px;
                box-sizing: border-box;
                padding: 2px;
                border-radius: 50%;
            " >
                    <img src="/admin/dist/img/cross.png" width="20px" height="20px">
                  </button>
                  <input type="file" th:id="inputGallery+${photo.getIdPhotos()}" name="galleryPhoto" class="form-control" th:value="${photo.getFileName()}" onchange="handleFileChange(event)">
<!--                  <script>-->
<!--                      var idImg = `gallery[[${photo.getIdPhotos}]]`;-->
<!--                      var idInput = `inputGallery[[${photo.getIdPhotos()}]]`;-->
<!--                      idInput.onchange = evt => {-->
<!--                      const [file] = idInput.files-->
<!--                      if (file) {-->
<!--                          idImg.src = URL.createObjectURL(file)-->
<!--                      }-->
<!--                    }-->
<!--                  </script>-->
                    <script>
                        function handleFileChange(event) {
                            const input = event.target;
                            const file = input.files[0];
                            const id = input.id.slice(12); // Получаем идентификатор после "inputGallery"
                            const img = document.getElementById(`gallery${id}`);

                            if (file) {
                                img.src = URL.createObjectURL(file);
                            }
                        }
                    </script>
                </div>

                <div class="col-sm-3" style="margin-left: 20px">
                  <div style="display: flex; justify-content: center">
<!--                    <a th:href="@{/add_photo/{idApartment}(idApartment = ${apartment.getIdApartment()})}">-->
                    <button class="btn btn-outline" type="button" th:attr="onclick='addPhoto(' + ${apartment.getIdApartment()} + ')'">
                        <img src="../admin/dist/img/addCinema.png" width="150px">
                    </button>
                  </div>
                </div>



              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="foundingDocument">
                <option th:each="type:${foundingDocument}" th:value="${type.name()}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getFoundingDocument().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Документы основания</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="state">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.State).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getState().getValue())}"></option>

              </select>
              <label for="floatingSelect" class="form-label">Жилое состояние</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="type">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.TypeApartment).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getType().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Назначение</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="balconyType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.BalconyType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getBalconyType().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Балкон/Лоджия</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="calculation">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Calculation).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCalculation().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Варианты расчета</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="countRoom">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CountRoom).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCountRoom().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Количество комнат</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="layout">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.LayoutType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getLayout().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Планировка</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="heatingType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getHeatingType().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Отопления</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="communicationType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CommunicationType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCommunicationType().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Способ связи</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="commission">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Commission).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCommission().getValue())}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Коммисия агенту</label>
            </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Общая площадь</label>
            <input type="text" class="form-control" name="totalArea"  placeholder="Введите имя..." th:value="${apartment.getTotalArea()}" required="">
              <div th:if="${#fields.hasErrors('totalArea')}">
                  <div class="text-danger">
                      <p th:errors="*{totalArea}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Площадь кухни</label>
            <input type="text" class="form-control" name="kitchenArea"  placeholder="Введите имя..." th:value="${apartment.getKitchenArea()}" required="">
              <div th:if="${#fields.hasErrors('kitchenArea')}">
                  <div class="text-danger">
                      <p th:errors="*{kitchenArea}"></p>
                  </div>
              </div>
          </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>

        </div>
    </div>
      </form>



    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>
<!--<script>-->
<!--  function deleteData(idPhoto, idApartment) {-->
<!--    fetch('/delete_photo', {-->
<!--      method: 'POST',-->
<!--      body:{-->
<!--        idPhoto: idPhoto,-->
<!--        idApartment: idApartment-->
<!--      },-->
<!--    })-->
<!--            .then(response => {-->
<!--              if (response.ok) {-->
<!--                window.location.href = "/apartment_edit/" + idApartment;-->
<!--              } else {-->
<!--                console.log('Ошибка при выполнении запроса');-->
<!--                alert('Произошла ошибка при выполнении запроса1');-->
<!--              }-->
<!--            })-->
<!--            .catch(error => {-->
<!--              console.log('Произошла ошибка:', error);-->
<!--              alert('Произошла ошибка при выполнении запроса');-->
<!--            });-->
<!--  }-->

<!--</script>-->

                  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                  <script>
                      function deleteData(idPhoto, idApartment) {
                        $.ajax({
                          url: "/delete_photo_apartment",
                          method: "POST",
                          data: {
                            idPhoto: idPhoto,
                            idApartment: idApartment
                          } ,

                          success: function(response) {
                              var galleryHtml = $(response).find('#galleryDiv').html();
                              $('#galleryDiv').html(galleryHtml);
                          },
                          error: function(xhr, status, error) {
                            console.log('Произошла ошибка:', error);
                            alert('Произошла ошибка при выполнении запроса');
                          }
                      });
                    }
                      function addPhoto(idApartment) {
                        $.ajax({
                          url: "/add_photo/"+idApartment,
                          method: "GET",

                          success: function(response) {
                              var galleryHtml = $(response).find('#galleryDiv').html();
                              $('#galleryDiv').html(galleryHtml);
                          },
                          error: function(xhr, status, error) {
                            console.log('Произошла ошибка:', error);
                            alert('Произошла ошибка при выполнении запроса');
                          }
                        });
                      }
                  </script>
</body>

</html>