<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body>
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/mixed" th:action="@{/add_apartment}" th:object="${apartment}">
    <div style="display: flex; justify-content: space-between">
      <h4 class="mb-3">Квартира не от застройщика</h4>
    </div>
        <input type="hidden" name="idApartment" value="0">
        <input type="hidden" name="frame" value="0">
    <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Номер</label>
            <input type="text" class="form-control" name="number" id="firstName" placeholder="Введите имя..." th:value="${apartment.getNumber()}" required="">
              <div th:if="${#fields.hasErrors('number')}">
                  <div class="text-danger">
                      <p th:errors="*{number}"></p>
                  </div>
              </div>
          </div>

          <div class="col-sm-12">
            <label for="floatingTextarea">Описание</label>
            <textarea class="form-control"  id="floatingTextarea" name="description"  th:field="*{description}"></textarea>
              <div th:if="${#fields.hasErrors('description')}">
                  <div class="text-danger">
                      <p th:errors="*{description}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12">
            <label  class="form-label">Адрес</label>
            <input type="text" class="form-control" name="address"  th:value="${apartment.getAddress()}" placeholder="Введите имя..." >
            <div th:if="${#fields.hasErrors('address')}">
              <div class="text-danger">
                <p th:errors="*{address}"></p>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <label  class="form-label">Цена</label>
            <input type="text" class="form-control" name="price"  placeholder="Введите имя..." th:value="${apartment.getPrice()}" required="">
              <div th:if="${#fields.hasErrors('price')}">
                  <div class="text-danger">
                      <p th:errors="*{price}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">

            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="lcd" th:field="*{lcd}">
                <option th:each="lcd : ${lcds}" th:value="${lcd.getIdLcd()}" th:text="${lcd.getName()}" th:selected="${apartment.getLcd() == lcd.getIdLcd()}"></option>
              </select>
              <label for="floatingSelect" class="form-label">ЖК</label>
            </div>
          </div>
            <div class="col-sm-6">

                <div class="form-floating">
                    <select class="form-select"  aria-label="Floating label select example" name="user" th:field="*{user}">
                        <option th:each="user : ${users}" th:value="${user.getIdUser()}" th:text="${user.getMail()}" th:selected="${apartment.getUser() == user.getIdUser()}"></option>
                    </select>
                    <label for="floatingSelect" class="form-label">Владелец</label>
                </div>
            </div>
          <label for="inputImg">Главная картина</label>
          <div th:if="${#fields.hasErrors('file')}">
            <div class="text-danger">
              <p th:errors="*{file}"></p>
            </div>
          </div>
          <div class="form-group" style="display: flex">

            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img src="../admin/dist/img/default.jpg" id= "imgMain" style="width: 75px; height: 75px" alt="null">
            </div>
            <input type="file" name="file" id="inputImg" class="form-control" style="margin-left: 30px; margin-top: 30px" accept=".jpg,.jpeg,.png">
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  imgMain.src = URL.createObjectURL(file)
                }
              }
            </script>

          </div>
<!--          <div>-->
<!--            <label>Галерея картинок</label>-->
<!--            <div class="card-body">-->
<!--              <label>Размер 1000х190</label>-->
<!--              <div class="row" >-->

<!--&lt;!&ndash;                <div class="col-sm-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <img id="img1" class="img-fluid mb-2" alt="white sample">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button type="submit" style="&ndash;&gt;-->
<!--&lt;!&ndash;                position: absolute;&ndash;&gt;-->
<!--&lt;!&ndash;                right: -1px;&ndash;&gt;-->
<!--&lt;!&ndash;                top: -10px;&ndash;&gt;-->
<!--&lt;!&ndash;                z-index: 11;&ndash;&gt;-->
<!--&lt;!&ndash;                border: 2px solid black;&ndash;&gt;-->
<!--&lt;!&ndash;                height: 30px;&ndash;&gt;-->
<!--&lt;!&ndash;                width: 30px;&ndash;&gt;-->
<!--&lt;!&ndash;                box-sizing: border-box;&ndash;&gt;-->
<!--&lt;!&ndash;                padding: 2px;&ndash;&gt;-->
<!--&lt;!&ndash;                border-radius: 50%;&ndash;&gt;-->
<!--&lt;!&ndash;            " >&ndash;&gt;-->
<!--&lt;!&ndash;                    <img src="/admin/dist/img/cross.png" width="20px" height="20px">&ndash;&gt;-->
<!--&lt;!&ndash;                  </button>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="file" id="inputImg1" name="galleryPhoto" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;                  <script>&ndash;&gt;-->
<!--&lt;!&ndash;                    inputImg1.onchange = evt => {&ndash;&gt;-->
<!--&lt;!&ndash;                      const [file] = inputImg1.files&ndash;&gt;-->
<!--&lt;!&ndash;                      if (file) {&ndash;&gt;-->
<!--&lt;!&ndash;                        img1.src = URL.createObjectURL(file)&ndash;&gt;-->
<!--&lt;!&ndash;                      }&ndash;&gt;-->
<!--&lt;!&ndash;                    }&ndash;&gt;-->
<!--&lt;!&ndash;                  </script>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div class="col-sm-3" style="margin-left: 20px">-->
<!--                  <div style="display: flex; justify-content: center">-->
<!--                    <a>-->
<!--                        <img src="../admin/dist/img/addCinema.png" width="150px">-->
<!--                    </a>-->
<!--                  </div>-->
<!--                </div>-->



<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="foundingDocument">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.FoundingDocument).values()}" th:value="${type.name()}" th:text="${type.getValue()}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Документы основания</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="state">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.State).values()}" th:value="${type.name}" th:text="${type.getValue()}"></option>

              </select>
              <label for="floatingSelect" class="form-label">Жилое состояние</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="type">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.TypeApartment).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Назначение</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="balconyType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.BalconyType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Балкон/Лоджия</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="calculation">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Calculation).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Варианты расчета</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="countRoom">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CountRoom).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Количество комнат</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="layout">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.LayoutType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Планировка</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="heatingType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Отопления</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="communicationType">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CommunicationType).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Способ связи</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="commission">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.Commission).values()}" th:value="${type.name}" th:text="${type.getValue()}" ></option>
              </select>
              <label for="floatingSelect" class="form-label">Коммисия агенту</label>
            </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Общая площадь</label>
            <input type="text" class="form-control" name="totalArea"  placeholder="Введите имя..." th:value="${apartment.getTotalArea()}"  required="">
              <div th:if="${#fields.hasErrors('totalArea')}">
                  <div class="text-danger">
                      <p th:errors="*{totalArea}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Площадь кухни</label>
            <input type="text" class="form-control" name="kitchenArea"  placeholder="Введите имя..."  th:value="${apartment.getKitchenArea()}" required="">
              <div th:if="${#fields.hasErrors('kitchenArea')}">
                  <div class="text-danger">
                      <p th:errors="*{kitchenArea}"></p>
                  </div>
              </div>
          </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>

        </div>
    </div>
      </form>



    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>


</body>

</html>