<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body>
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/contractor_update/{id}(id=${contractor.getIdBuilder()})}">
    <div style="display: flex; justify-content: space-between">
      <h4 class="mb-3">Застройщик</h4>
    </div>
    <div class="col-md-7 col-lg-8">



        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="Введите имя..." th:value="${contractor.getName()}" required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" name="surname" id="lastName" placeholder="Введите фамилию..." th:value="${contractor.getSurname()}" required="">
            <div class="invalid-feedback">
              Введите фамилию...
            </div>
          </div>
          <div class="col-sm-6">
            <label for="mail" class="form-label">Почта</label>
            <input type="text" class="form-control" name = "mail" id="mail" placeholder="you@example.com" th:value="${contractor.getMail()}" required="">
            <div class="invalid-feedback">
              Введите почту...
            </div>
          </div>
          <div class="form-group">
            <div> <h6>Фото на аватарку</h6> </div>
            <div class="form-group" style="display: flex">

              <img th:src="${contractor.getFilename()}" id="img" style="width: 75px; height: 75px" alt="null">

            <input aria-label="file example" type="file" name="file" id="inputImg" class="form-control" th:value="${contractor.getFilename()}" style="margin-left: 30px; margin-top: 30px">
          </div>
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  img.src = URL.createObjectURL(file)
                }
              }
            </script>
          </div>
          <div th:if="${contractor.getSalesDepartment()!=null}">
            <div> <h6>Отдел продаж</h6> </div>
            <div>
              <table class="table table-striped" style="margin: 20px">
                <thead>
                <tr>
                  <th scope="col"><p th:text="${contractor.getSalesDepartment().getName()+' '+contractor.getSalesDepartment().getSurname()}"></p></th>
                  <th scope="col"><p th:text="${contractor.getSalesDepartment().getMail()}"></p></th>
                  <th scope="col">
<!--                    th:href="@{/agent_edit/{id}(id = ${user.getAgent().getIdAgent()})/{idUser}(idUser = ${user.getIdUser()})}"-->
                    <div style="display: flex">
                      <a th:href="@{/sales_department_edit/{id}(id = ${contractor.getSalesDepartment().getIdSalesDepartment()}+'_'+${contractor.getIdBuilder()})}">
                        <button type="button" class="btn btn-info btn-sm">
                          <i class="fas fa-pencil">
                          </i>
                        </button>
                      </a>
                    </div>
                  </th>
                </tr>
                </thead>
              </table>
          </div>
          </div>
<!--          <div>-->
<!--            <div> <h6>Документы</h6> </div>-->
<!--            <div>-->
<!--              <div class="row" style="margin-left: 50px">-->
<!--                <div class="col-sm-2"th:each="document:${contractor.getDocuments()}" style="margin-left: 5px" >-->

<!--              <img th:src="${document.getFileName()}" class="img-fluid mb-2" alt="white sample"  style="-->
<!--    position: relative;-->
<!--    z-index: 0;-->
<!--    height: 100px;-->
<!--">-->

<!--                  <button type="button" style="-->
<!--                position: absolute;-->
<!--                right: -1px;-->
<!--                top: -10px;-->
<!--                z-index: 11;-->
<!--                border: 2px solid black;-->
<!--                height: 30px;-->
<!--                width: 30px;-->
<!--                box-sizing: border-box;-->
<!--                padding: 2px;-->
<!--                border-radius: 50%;-->
<!--            " >-->
<!--                      <img src="/admin/dist/img/cross.png" width="20px" height="20px">-->
<!--                  </button>-->


<!--              <div th:text="${document.getName()}" style="text-align: center"></div>-->
<!--                  <div><input aria-label="file example" type="file" name="document" id="inputDoc" class="form-control" th:value="${document.getFileName()}" style=" margin-top: 30px">-->
<!--                    </div>-->


<!--                </div>-->
<!--                <div class="col-sm-2" style="margin-left: 50px">-->
<!--                  <div style="display: flex; justify-content: center; margin-left: 20px">-->
<!--                    <a th:href="@{/add_document/{id}(id = ${contractor.getIdBuilder()})}">-->
<!--                      <button type="button" name="time" value="now">-->
<!--                        <img src="../admin/dist/img/addCinema.png" width="100px">-->
<!--                      </button>-->
<!--                    </a>-->
<!--                  </div>-->
<!--                  <div style="display: flex; justify-content: center">-->
<!--                    Добавить документ-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>

        </div>
    </div>
      </form>



    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>


</body>

</html>