<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body>
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/user_update/{id}(id=${id})}">
    <div style="display: flex; justify-content: space-between">
      <h4 class="mb-3">Пользователь</h4>
      <div class="form-check form-switch" style="display: flex; margin-right: 50px" >
        <div>
          <h6 for="flexSwitchCheckDefault" style="margin-right: 5px">Уведомление</h6>
        </div>
        <div>
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="callSms" th:checked="${user.getUserAddInfo().isCallSms()}" style="margin-left: 5px" >
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8">


        <input type="hidden" name="id" th:value="${id}" />
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="Введите имя..." th:value="${user.getName()}" required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" name="surname" id="lastName" placeholder="Введите фамилию..." th:value="${user.getSurname()}" required="">
            <div class="invalid-feedback">
              Введите фамилию...
            </div>
          </div>
          <div class="col-sm-6">
            <label for="mail" class="form-label">Почта</label>
            <input type="email" class="form-control" name = "mail" id="mail" placeholder="you@example.com" th:value="${user.getMail()}" required="">
            <div class="invalid-feedback">
              Введите почту...
            </div>
          </div>
          <div class="col-sm-6">
            <label for="username" class="form-label">Номер</label>
            <div class="input-group has-validation">
              <span class="input-group-text">+380</span>
              <input type="text" class="form-control" name ="number" id="username" placeholder="Введите номер..." th:value="${user.getNumber()}" required="">
              <div class="invalid-feedback">
                Введите номер...
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="username" class="form-label">Подписка</label>
            <div class="input-group has-validation">
              <input type="date" class="form-control" name ="dateSub" id="sub" placeholder="Введите номер..." th:value="${user.getUserAddInfo().getDateSub()}" required="">
              <div class="invalid-feedback">
                Введите номер...
              </div>
            </div>
          </div>
          <div class="col-sm-6">

            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="typeNotification">
                <option value="ME" th:selected="${user.getUserAddInfo().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).ME)}">Мне</option>
                <option value="MEANDAGENT" th:selected="${user.getUserAddInfo().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).MEANDAGENT)}">Мне и агенту</option>
                <option value="AGENT" th:selected="${user.getUserAddInfo().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).AGENT)}">Агенту</option>
                <option value="OFF" th:selected="${user.getUserAddInfo().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).OFF)}">Отключить</option>
              </select>
              <label for="floatingSelect" class="form-label">Тип уведомления</label>
            </div>
          </div>
          <div class="form-group">
            <div> <h6>Фото на аватарку</h6> </div>
            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img th:src="${user.getFilename()}" id="img" style="width: 75px; height: 75px" alt="null">

            <input aria-label="file example" type="file" name="file" id="inputImg" class="form-control" th:value="${user.getFilename()}" style="margin-left: 30px; margin-top: 30px">
          </div>
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  img.src = URL.createObjectURL(file)
                }
              }
            </script>
          </div>
          <div>
            <div> <h6>Агент</h6> </div>
            <div>
              <table class="table table-striped" style="margin: 20px">
                <thead>
                <tr>
                  <th scope="col"><p th:if="${user.getAgent()!=null}" th:text="${user.getAgent().getName()+' '+user.getAgent().getSurname()}"></p></th>
                  <th scope="col"><p th:if="${user.getAgent()!=null}" th:text="${user.getAgent().getMail()}"></p></th>
                  <th scope="col">
<!--                    th:href="@{/agent_edit/{id}(id = ${user.getAgent().getIdAgent()})/{idUser}(idUser = ${user.getIdUser()})}"-->
                    <div style="display: flex" th:if="${user.getAgent()!=null}">
                      <a th:href="@{/agent_edit/{id}(id = ${user.getAgent().getIdAgent()}+'_'+${user.getIdUser()})}">
                        <button type="button" name="idUser" th:value="${user.getIdUser()}" class="btn btn-info btn-sm">
                          <i class="fas fa-pencil">
                          </i>
                        </button>
                      </a>
                    </div>
                    <div style="display: flex" th:if="${user.getAgent()==null}">
                      <a th:href="@{/agent_add/{idUser}(idUser = ${user.getIdUser()})}">
                        <button type="button" name="idUser" th:value="${user.getIdUser()}" class="btn btn-secondary btn-sm">
                          <i class="fas fa-plus">
                          </i>
                        </button>
                      </a>
                    </div>
                  </th>
                </tr>
                </thead>
              </table>
          </div>
          </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>

        </div>
    </div>
      </form>


    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>


</body>

</html>