<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Frame Edit</title>
    <link rel="icon" type="image/png" th:href="@{/admin/dist/img/favicon.png}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body class="sidebar-mini">
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper">

              <div class="content">
                  <div class="content-header">
                      <div class="container-fluid">
                          <div class="row mb-2">
                              <div class="col-sm-6">
                                  <h4 class="m-0">Корпус</h4>
                              </div><!-- /.col -->
                          </div><!-- /.row -->
                      </div><!-- /.container-fluid -->
                  </div>
                  <div class="card-body">
      <form class="needs-validation" method="post" th:action = "@{/frame_update}">

          <input type="hidden" name = "idFrame" th:value="${frame.getIdFrame()}">

        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Номер</label>
            <input type="number" class="form-control" name="number" id="firstName" placeholder="Введите номер..." th:value="${frame.getNum()}">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>
        </div>
        <div>
            <div style="display: flex; justify-content: space-between">
          <div style="margin-top: 10px">
            <h5>Список квартир от застройщика</h5>
          </div>
            <div>
                <nav class="navbar bg-body-tertiary" id="apartmentSearch">
                    <div class="container-fluid ">
                        <div style="display: flex">
                            <input class="form-control me-2" type="search" placeholder="Поиск по номеру" aria-label="Search" id="searchInputApartment" name="search">
                            <button class="btn btn-outline-info" type="button" onclick="searchApartment()">Search</button>
                        </div>
                    </div>
                </nav>
            </div>
            </div>
          <div id="tableApartment">
              <div id="closeApartment" th:if="${searchApartment!=0}">
                  <i th:text="'Результат поиска по значению:'+${searchApartment}"></i>
                  <a onclick="closeApartment()"><i class="fas fa-times"></i></a>
              </div>
            <table class="table table-striped" id="apartmentTable">
              <thead>
              <tr>
                  <th scope="col">
                      <input  type="hidden" name="sorted" value="idUser">
                      <button class="btn btn-outline-info" type="button" onclick="sortedApartment('idApartment')">ID</button>
                  </th>
                  <th scope="col">
                      <input  type="hidden" name="sorted" value="idUser">
                      <button class="btn btn-outline-info" type="button" onclick="sortedApartment('number')">Номер</button>
                  </th>
                <th scope="col">
                  <button type="button" th:onclick="'addApartment('+${frame.getIdFrame()}+')'" class="btn btn-secondary btn-sm" style="margin-left: 10px" data-toggle="tooltip" data-placement="top" title="Add apartment">
                    <i class="fas fa-plus">
                    </i>
                  </button>
                </th>
              </tr>
              </thead>
              <tbody th:if = "${apartments.getContent().size()>0}">
              <tr th:each="apartment:${apartments.getContent()}">
                <th scope="row"><p th:text="${apartment.getIdApartment()}"></p></th>
                <td><p th:text="${apartment.getNumber()}"></p></td>
                <td>
                  <div style="display: flex">
<!--                    <form th:action="@{/apartment_update/{idApartment}(idApartment = ${apartment.getIdApartment()})}"  method="post" >-->
                      <button type="button" th:onclick="'editApartment('+${apartment.getIdApartment()}+')'" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Edit apartment">
                        <i class="fas fa-pencil">
                        </i>
                      </button>

                      <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px"  th:onclick="'deleteApartment('+${apartment.getIdApartment()}+', ' +${frame.getIdFrame()}+ ')'" data-toggle="tooltip" data-placement="top" title="Delete apartment">
                        <i class="fas fa-trash">
                        </i>
                      </button>

                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <!--        <div style="display: flex; justify-content: center">-->
            <!--          <button type="button" class="btn btn-secondary">Добавить</button>-->
            <!--        </div>-->
          </div>
            <div style="display: flex; justify-content: space-between" >
                <div id="textApartment">
                <div style="margin-left: 10px" th:if="${apartments.getContent().size()==0}"><h6>Ничего не найдено</h6></div>
                <div  style="margin-left: 10px" th:if="${apartments.getContent().size()>0}"><h6 th:text="'Показано 1 – '+${apartments.getContent().size()} + ' из '+${sizeApartment}+' записей'" ></h6></div>
                </div>
                    <nav aria-label="Page navigation example" style="display: flex; justify-content: center ">
                <ul class="pagination" id="previousApartment">
                    <li class="page-item" th:hidden="${apartments.getNumber()==0}">
                        <input type="hidden" id="pageNumberApartmentPr" th:value="${apartments.getNumber()-1}">
                        <a class="page-link" href="#" aria-label="Previous" th:value="${apartments.getTotalPages()}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                </ul>
                <ul class="pagination" id="apartmentPagination">
                   <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"  th:each="p: ${#numbers.sequence(1, apartments.getTotalPages()-1)}" th:value="${p}" th:if="${apartments.getTotalPages()>=2}"><a class="page-link" href="#" th:text="${p+1}"></a></li>
                </ul>
                <ul class="pagination" id="nextApartment">
                    <li class="page-item" th:hidden="${apartments.getNumber()==apartments.getTotalPages()-1}" th:if="${apartments.getTotalPages()>1}">
                        <input type="hidden" id="pageNumberApartmentNext" th:value="${apartments.getNumber()+1}">
                        <a class="page-link" href="#" aria-label="Next" th:value="${apartments.getTotalPages()}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <ul class="pagination" style="margin-left: 5px">
                    <li class="page-item">
                        <select class="form-select"  aria-label="Floating label select example" id="sizeApartment" onchange="">
                            <option value="3" th:selected="${apartments.getSize()}==3">3</option>
                            <option value="5" th:selected="${apartments.getSize()}==5">5</option>
                            <option value="10" th:selected="${apartments.getSize()}==10">10</option>
                        </select>
                    </li>
                </ul>
            </nav>
            </div>



        </div>
          <div class="d-flex justify-content-center">
        <button class="w-50 btn btn-primary btn-lg" type="submit">Сохранить</button>
          </div>
      </form>
          </div>
      </div>

    </div>
      <div th:insert="admin.shared/footer::footer"></div>
  </div>

</div>

<div th:replace="~{/admin.shared/script}"></div>
<script>
  function addApartment(idFrame){
    $.ajax({
      url: "/Swipe-Admin/add_apartment/"+idFrame,
      method: "GET",

      success: function(response) {
        window.location.href = "/Swipe-Admin/add_apartment/" + idFrame;
      },
      error: function(xhr, status, error) {
        console.log('Произошла ошибка:', error);
        alert('Произошла ошибка при выполнении запроса');
      }
    });
  }

  function editApartment(idApartment) {

      $.ajax({
          url: "/Swipe-Admin/apartment_edit/"+idApartment,
          method: "GET",
          success: function(response) {
              window.location.href = "/Swipe-Admin/apartment_edit/" + idApartment;
          },
          error: function(xhr, status, error) {
              console.log('Произошла ошибка:', error);
              alert('Произошла ошибка при выполнении запроса');
          }
      });
  }

  function deleteApartment(idApartment, idFrame) {

      $.ajax({
          url: "/Swipe-Admin/delete_apartment",
          method: "POST",
          data:{
              idApartment: idApartment
          },
          success: function(response) {
              window.location.href = "/Swipe-Admin/edit_frame/" + idFrame;
          },
          error: function(xhr, status, error) {
              console.log('Произошла ошибка:', error);
              alert('Произошла ошибка при выполнении запроса');
          }
      });
  }



  function searchApartment () {
      var selectedSize = localStorage.getItem('selectedApartmentSize');
      // e.preventDefault();
      var searchVal = document.getElementById('searchInputApartment').value;
      var url = '/Swipe-Admin/edit_frame/'+[[${frame.getIdFrame()}]];
      // if(selectedSize == null){
      //   selectedSize = '3';
      // }
      $.ajax({
          url: url + '?searchApartment=' + searchVal,
          type: 'GET',
          data: {
              apartmentSize: selectedSize,
              // search: searchVal
          },
          success: function (data) {
              var tableHtml = $(data).find('#tableApartment').html();
              $('#tableApartment').html(tableHtml);

              var pagination = $(data).find('#apartmentPagination').html();
              $('#apartmentPagination').html(pagination);
              var next = $(data).find('#nextApartment').html();
              $('#nextApartment').html(next);
              var previous = $(data).find('#previousApartment').html();
              $('#previousApartment').html(previous);
              var textHouses = $(data).find('#textApartment').html();
              $('#textApartment').html(textHouses);
              // $('#blackListTable').html(data);
              localStorage.setItem('searchApartment', searchVal);


          },
          error: function (xhr, status, error) {
              alert("-")
              console.log(error);
          }
      });
  }
  var clickApartment = 1
  function sortedApartment (field) {
      if (field === localStorage.getItem("sortedApartment")){
          clickApartment++;
          if (clickApartment>2){
              clickApartment = 1;
          }
      }
      else if (localStorage.getItem("sortedApartment") === null && field === 'idApartment' && clickApartment===1){
          clickApartment = 2;
      }
      else {
          if (clickApartment===2){
              clickApartment = 1;
          }
      }
      var selectedSize = localStorage.getItem('selectedApartmentSize');
      var searchVal = localStorage.getItem('searchApartment');
      var url = '/Swipe-Admin/edit_frame/'+[[${frame.getIdFrame()}]];
      // if(selectedSize == null){
      //   selectedSize = '3';
      // }
      $.ajax({
          url: url + '?sortedApartment=' + field,
          type: 'GET',
          data: {
              apartmentSize: selectedSize,
              searchApartment: searchVal,
              orderApartment: clickApartment
              // search: searchVal
          },
          success: function (data) {
              var tableHtml = $(data).find('#tableApartment').html();
              $('#tableApartment').html(tableHtml);

              var pagination = $(data).find('#apartmentPagination').html();
              $('#apartmentPagination').html(pagination);
              var next = $(data).find('#nextApartment').html();
              $('#nextApartment').html(next);
              var previous = $(data).find('#previousApartment').html();
              $('#previousApartment').html(previous);
              var textHouses = $(data).find('#textApartment').html();
              $('#textApartment').html(textHouses);
              // $('#blackListTable').html(data);
              localStorage.setItem('sortedApartment', field);
              localStorage.setItem('orderApartment', clickApartment);


          },
          error: function (xhr, status, error) {
              alert("-")
              console.log(error);
          }
      });
  }
  function closeApartment () {
      var selectedSize = localStorage.getItem('selectedApartmentSize');
      // e.preventDefault();
      var searchVal = '0';
      var url = '/Swipe-Admin/edit_frame/'+[[${frame.getIdFrame()}]];
      if(selectedSize == null){
          selectedSize = '3';
      }
      $.ajax({
          url: url + '?searchApartment=' + searchVal,
          type: 'GET',
          data: {
              apartmentSize: selectedSize,

              // search: searchVal
          },
          success: function (data) {
              var tableHtml = $(data).find('#tableApartment').html();
              $('#tableApartment').html(tableHtml);

              var pagination = $(data).find('#apartmentPagination').html();
              $('#apartmentPagination').html(pagination);
              var search = $(data).find('#apartmentSearch').html();
              $('#apartmentSearch').html(search);
              var next = $(data).find('#nextApartment').html();
              $('#nextApartment').html(next);
              var previous = $(data).find('#previousApartment').html();
              $('#previousApartment').html(previous);
              var textHouses = $(data).find('#textApartment').html();
              $('#textApartment').html(textHouses);
              // $('#blackListTable').html(data);
              localStorage.setItem('searchApartment', searchVal);


          },
          error: function (xhr, status, error) {
              alert("-")
              console.log(error);
          }
      });
  }

  $(document).ready(function() {
      var selectedSize = localStorage.getItem('selectedApartmentSize');
      var page = localStorage.getItem('pageApartment');
      var sortedVal = localStorage.getItem('sortedApartment');
      var order = localStorage.getItem('orderApartment');


      if (selectedSize) {
          $('#sizeApartment').val(selectedSize);
      }
      $('#previousApartment').on('click','li',function(e) {
          var searchBlack = localStorage.getItem('searchApartment');
          e.preventDefault();

          var pageNumber = $('#pageNumberApartmentPr').val();

          var url = '/Swipe-Admin/edit_frame/'+[[${frame.getIdFrame()}]];

          // pageNumber -= 1;
          $.ajax({
              url:url+'?apartmentPage='+pageNumber,
              type: 'GET',
              data:{
                  apartmentSize: selectedSize,
                  searchApartment: searchBlack,
                  sortedApartment:sortedVal,
                  orderApartment: order
              },
              success: function(data) {
                  var tableHtml = $(data).find('#apartmentTable').html();
                  $('#apartmentTable').html(tableHtml);
                  // var pagination = $(data).find('#paginationList').html();
                  // $('#paginationList').html(pagination);
                  var next = $(data).find('#nextApartment').html();
                  $('#nextApartment').html(next);
                  var previous = $(data).find('#previousApartment').html();
                  $('#previousApartment').html(previous);
                  var textHouses = $(data).find('#textApartment').html();
                  $('#textApartment').html(textHouses);

                  $('#apartmentPagination li').removeClass('active');
                  $('#apartmentPagination li').eq(pageNumber).addClass('active');
                  localStorage.setItem('pageApartment', pageNumber);


              },
              error: function(xhr, status, error) {
                  console.log(error);
              }
          });
      });

      $('#nextApartment').on('click','li',function(e) {
          var sortedVal = localStorage.getItem('sortedApartment');
          var searchBlack = localStorage.getItem('searchApartment');
          var order = localStorage.getItem('orderApartment');
          e.preventDefault();
          var pageNumber = $('#pageNumberApartmentNext').val();
          var url = '/Swipe-Admin/edit_frame/'+[[${frame.getIdFrame()}]];


          $.ajax({
              url:url+'?apartmentPage='+pageNumber,
              type: 'GET',
              data:{
                  apartmentSize: selectedSize,
                  searchApartment: searchBlack,
                  sortedApartment:sortedVal,
                  orderApartment: order
              },
              success: function(data) {
                  var tableHtml = $(data).find('#apartmentTable').html();
                  $('#apartmentTable').html(tableHtml);
                  // var pagination = $(data).find('#paginationList').html();
                  // $('#paginationList').html(pagination);
                  var next = $(data).find('#nextApartment').html();
                  $('#nextApartment').html(next);
                  var previous = $(data).find('#previousApartment').html();
                  $('#previousApartment').html(previous);
                  var textHouses = $(data).find('#textApartment').html();
                  $('#textApartment').html(textHouses);

                  $('#apartmentPagination li').removeClass('active');
                  $('#apartmentPagination li').eq(pageNumber).addClass('active');
                  localStorage.setItem('pageApartment', pageNumber);


              },
              error: function(xhr, status, error) {
                  console.log(error);
              }
          });
      });
      $('#sizeApartment').on('change', function() {
          var sortedVal = localStorage.getItem('sortedApartment');
          var order = localStorage.getItem('orderApartment');

          var search = localStorage.getItem('searchApartment');
          selectedSize = $(this).val();
          var url = '/Swipe-Admin/edit_frame/'+[[${frame.getIdFrame()}]];

          if (page == null) {
              page = '0';
          }

          $.ajax({
              url: url + '?apartmentSize=' + selectedSize,
              type: 'GET',
              data: {
                  apartmentSize: selectedSize,
                  apartmentPage: page,
                  searchApartment:search,
                  sortedApartment:sortedVal,
                  orderApartment: order
              },
              contentType: "application/json"
          })
              .done(function(data) {
                  var size = $(data).find('#apartmentTable').html();
                  $('#apartmentTable').html(size);
                  var pagination = $(data).find('#apartmentPagination').html();
                  $('#apartmentPagination').html(pagination);
                  var next = $(data).find('#nextApartment').html();
                  $('#nextApartment').html(next);
                  var previous = $(data).find('#previousApartment').html();
                  $('#previousApartment').html(previous);
                  var textHouses = $(data).find('#textApartment').html();
                  $('#textApartment').html(textHouses);
                  localStorage.setItem('selectedApartmentSize', selectedSize);
              })
              .fail(function() {
                  alert('Произошла ошибка при загрузке данных.');
              });
      });

      $('#apartmentPagination').on('click', 'li', function(e) {
          var sortedVal = localStorage.getItem('sortedApartment');
          var order = localStorage.getItem('orderApartment');
          var search = localStorage.getItem('searchApartment');
          e.preventDefault();
          var pageNumber = $(this).text();
          $('#apartmentPagination li').removeClass('active');
          $(this).addClass('active');
          var url = '/Swipe-Admin/edit_frame/'+[[${frame.getIdFrame()}]];

          if (selectedSize == null) {
              selectedSize = '3';
          }

          pageNumber -= 1;
          $.ajax({
              url: url + '?apartmentPage=' + pageNumber,
              type: 'GET',
              data: {
                  apartmentSize: selectedSize,
                  apartmentPage: pageNumber,
                  searchApartment:search,
                  sortedApartment:sortedVal,
                  orderApartment: order
              }
          })
              .done(function(data) {
                  var tableHtml = $(data).find('#apartmentTable').html();
                  $('#apartmentTable').html(tableHtml);
                  var next = $(data).find('#nextApartment').html();
                  $('#nextApartment').html(next);
                  var previous = $(data).find('#previousApartment').html();
                  $('#previousApartment').html(previous);
                  var textHouses = $(data).find('#textApartment').html();
                  $('#textApartment').html(textHouses);
                  localStorage.setItem('pageApartment', pageNumber);
              })
              .fail( function(xhr, status, error) {
                  console.log(error);
              })
      });
      $(window).on('beforeunload', function() {
          localStorage.removeItem('selectedApartmentSize');
          localStorage.removeItem('pageApartment');
      });

  });
  $(window).on('beforeunload', function() {
      localStorage.removeItem('searchApartment');
      localStorage.removeItem('sortedApartment');
      localStorage.removeItem('orderApartment');

  });
</script>
</script>

</body>

</html>