<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <style th:replace="~{/admin.shared/style}"></style></head>

<body class="sidebar-mini">
<!--<script>-->
<!--  var token = [[${token}]];-->
<!--  console.log(token);-->
<!--  fetch('http://localhost:8081/users', {-->
<!--    method: 'GET',-->
<!--    headers: new Headers({-->
<!--      'Authorization': 'Bearer ' + token,-->
<!--      'Content-Type': 'application/json'-->
<!--    }),-->
<!--    body: { /* some data */ }-->
<!--  });-->
<!--</script>-->
<div class="wrapper">
  <div th:replace="~{/admin.shared/header}"></div>
  <div th:replace="~{/admin.shared/left_sidebar}"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div>
    <div style="text-align: center">
      <h3>Список ЖК</h3>
    </div>
      <div style="display: flex; justify-content: right">
        <nav class="navbar bg-body-tertiary" id="lcdSearch">
          <div class="container-fluid ">
            <div style="display: flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInputLcd" name="search">
              <button class="btn btn-outline-info" type="button" onclick="searchLcd()">Search</button>
            </div>
          </div>
        </nav>
      </div>
    <div id="tableLcd">
      <div id="closeLcd" th:if="${#strings.length(searchLcd) >= 1 && (searchLcd != null && !searchLcd.equals('null'))}" style="margin-left: 20px">
        <i th:text="'Результат поиска по значению:'+${searchLcd}"></i>
        <a onclick="closeLcd()"><i class="fas fa-times"></i></a>
      </div>
      <table class="table table-striped" style="margin: 20px" id="lcdTable">
        <thead>
        <tr>
          <th scope="col">
            <input  type="hidden" name="sorted" value="idUser">
            <button class="btn btn-outline-info" type="button" onclick="sortedLcd('idLcd')">ID</button>
          </th>
          <th scope="col">
            <input  type="hidden" name="sorted" value="idUser">
            <button class="btn btn-outline-info" type="button" onclick="sortedLcd('name')">Название</button>
          </th>
          <th scope="col">
            <input  type="hidden" name="sorted" value="idUser">
            <button class="btn btn-outline-info" type="button" onclick="sortedLcd('address')">Адрес</button>
          </th>
          <th scope="col">
            <form method="get" th:action="@{/add_lcd}">
                <button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                <i class="fas fa-plus">
                </i>
              </button>
            </form></th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="lcd:${lcds.getContent()}">
            <th scope="row"><p th:text="${lcd.getIdLcd()}"></p></th>
            <td><p th:text="${lcd.getName()}"></p></td>
            <td><p th:text="${lcd.getAddress()}"></p></td>
            <td>
              <div style="display: flex">
              <form th:action="@{/lcd_edit/{id}(id=${lcd.getIdLcd()})}"  method="get" >
                <button type="submit" class="btn btn-info btn-sm">
                  <i class="fas fa-pencil">
                  </i>
                </button>
              </form>
              <form th:action="@{/delete_lcd}"  method="post" >
                <input type="hidden" name="idLcd" th:value="${lcd.getIdLcd()}" />
                <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                  <i class="fas fa-trash">
                  </i>
                </button>

              </form>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
      <div style="display: flex; justify-content: space-between">
        <div id="textLcd" style="margin-left: 10px" th:if="${lcds.getContent().size()>0}"><h6 th:text="'Показано 1 – '+${lcds.getContent().size()} + ' из '+${sizeLcd}+' записей'" ></h6></div>
        <div style="margin-left: 10px" th:if="${lcds.getContent().size()==0}"><h6>Ничего не найдено</h6></div>
        <nav aria-label="Page navigation example" style="display: flex; justify-content: center " >
        <ul class="pagination" id="previousLcd">
          <li class="page-item" th:hidden="${lcds.getNumber()==0}">
            <input type="hidden" id="pageNumberLcdPr" th:value="${lcds.getNumber()-1}">
            <a class="page-link" href="#" aria-label="Previous" th:value="${lcds.getTotalPages()}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" id="lcdPagination">
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"  th:each="p: ${#numbers.sequence(1, lcds.getTotalPages()-1)}" th:value="${p}" th:if="${lcds.getTotalPages()>=2}"><a class="page-link" href="#" th:text="${p+1}"></a></li>
        </ul>
        <ul class="pagination" id="nextLcd">
          <li class="page-item" th:hidden="${lcds.getNumber()==lcds.getTotalPages()-1}" th:if="${lcds.getTotalPages()>1}">
            <input type="hidden" id="pageNumberLcdNext" th:value="${lcds.getNumber()+1}">
            <a class="page-link" href="#" aria-label="Next" th:value="${lcds.getTotalPages()}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" style="margin-left: 5px">
          <li class="page-item">
            <select class="form-select"  aria-label="Floating label select example" id="sizeLcd" onchange="">
              <option value="3" th:selected="${lcds.getSize()}==3">3</option>
              <option value="5" th:selected="${lcds.getSize()}==5">5</option>
              <option value="10" th:selected="${lcds.getSize()}==10">10</option>
            </select>
          </li>
        </ul>
      </nav>
      </div>

  </div>
    <div>
      <div style="text-align: center">
        <h3>Список квартир не от застройщика</h3>
      </div>
      <div style="display: flex; justify-content: right">
        <nav class="navbar bg-body-tertiary" id="apartmentSearch">
          <div class="container-fluid ">
            <div style="display: flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInputApartment" name="search">
              <button class="btn btn-outline-info" type="button" onclick="searchApartment()">Search</button>
            </div>
          </div>
        </nav>
      </div>
      <div id="tableApartment">
        <div id="closeApartment" th:if="${searchApartment!=0}" style="margin-left: 20px">
          <i th:text="'Результат поиска по значению:'+${searchApartment}"></i>
          <a onclick="closeApartment()"><i class="fas fa-times"></i></a>
        </div>
        <table class="table table-striped" style="margin: 20px" id="apartmentTable">
          <thead>
          <tr>
            <th scope="col">
              <input  type="hidden" name="sorted" value="idUser">
              <button class="btn btn-outline-info" type="button" onclick="sortedApartment('idApartment')">ID</button>
            </th>
            <th scope="col">
              <input  type="hidden" name="sorted" value="idUser">
              <button class="btn btn-outline-info" type="button" onclick="sortedApartment('lcd')">ЖК</button>
            </th>
            <th scope="col">
              <input  type="hidden" name="sorted" value="idUser">
              <button class="btn btn-outline-info" type="button" onclick="sortedApartment('number')">Номер</button>
            </th>
            <th scope="col"><form method="get" th:action="@{/add_apartment}">
              <button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                <i class="fas fa-plus">
                </i>
              </button>
            </form></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="apartment:${apartments.getContent()}">
            <th scope="row"><p th:text="${apartment.getIdApartment()}"></p></th>
            <td><p th:text="${apartment.getNameLcd()}"></p></td>
            <td><p th:text="${apartment.getNumber()}"></p></td>
            <td>
              <div style="display: flex">
                <form th:action="@{/apartment_edit/{id}(id=${apartment.getIdApartment()})}"  method="get" >
                  <button type="submit" class="btn btn-info btn-sm">
                    <i class="fas fa-pencil">
                    </i>
                  </button>
                </form>
                <form th:action="@{/delete_apartment}"  method="post" >
                  <input type="hidden" name="idApartment" th:value="${apartment.getIdApartment()}" />
                  <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                    <i class="fas fa-trash">
                    </i>
                  </button>

                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
<!--        <div style="display: flex; justify-content: center">-->
<!--          <button type="button" class="btn btn-secondary">Добавить</button>-->
<!--        </div>-->
      </div>
      <div style="display: flex; justify-content: space-between">
        <div style="margin-left: 10px" th:if="${apartments.getContent().size()==0}"><h6>Ничего не найдено</h6></div>
        <div id="textApartment" style="margin-left: 10px" th:if="${apartments.getContent().size()}"><h6 th:text="'Показано 1 – '+${apartments.getContent().size()} + ' из '+${sizeApartment}+' записей'" ></h6></div>
        <nav aria-label="Page navigation example" style="display: flex; justify-content: center ">
        <ul class="pagination" id="previousApartment">
          <li class="page-item" th:hidden="${apartments.getNumber()==0}">
            <input type="hidden" id="pageNumberApartmentPr" th:value="${apartments.getNumber()-1}">
            <a class="page-link" href="#" aria-label="Previous" th:value="${apartments.getTotalPages()}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" id="apartmentPagination">
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"  th:each="p: ${#numbers.sequence(1, apartments.getTotalPages()-1)}" th:value="${p}" th:if="${apartments.getTotalPages()>=2}"><a class="page-link" href="#" th:text="${p+1}"></a></li>
        </ul>
        <ul class="pagination" id="nextApartment">
          <li class="page-item" th:hidden="${apartments.getNumber()==apartments.getTotalPages()-1}" th:if="${apartments.getTotalPages()>1}">
            <input type="hidden" id="pageNumberApartmentNext" th:value="${apartments.getNumber()+1}">
            <a class="page-link" href="#" aria-label="Next" th:value="${apartments.getTotalPages()}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" style="margin-left: 5px">
          <li class="page-item">
            <select class="form-select"  aria-label="Floating label select example" id="sizeApartment" onchange="">
              <option value="3" th:selected="${apartments.getSize()}==3">3</option>
              <option value="5" th:selected="${apartments.getSize()}==5">5</option>
              <option value="10" th:selected="${apartments.getSize()}==10">10</option>
            </select>
          </li>
        </ul>
      </nav>
      </div>


    </div>
  </div>
</div>
<div th:replace="~{/admin.shared/footer}"></div>
<div th:replace="~{/admin.shared/script}"></div>
<div th:fragment="script"></div>
<script>
  let url = '/Swipe-Admin/houses';
  function searchLcd () {
    var selectedSize = localStorage.getItem('selectedLcdSize');
    // e.preventDefault();
    var searchVal = document.getElementById('searchInputLcd').value;
    // var url = '/Swipe-Admin/houses';
    // if(selectedSize == null){
    //   selectedSize = '3';
    // }
    $.ajax({
      url: url + '?searchLcd=' + searchVal,
      type: 'GET',
      data: {
        lcdSize: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableLcd').html();
        $('#tableLcd').html(tableHtml);

        var pagination = $(data).find('#lcdPagination').html();
        $('#lcdPagination').html(pagination);
        var next = $(data).find('#nextLcd').html();
        $('#nextLcd').html(next);
        var previous = $(data).find('#previousLcd').html();
        $('#previousLcd').html(previous);
        var textHouses = $(data).find('#textLcd').html();
        $('#textLcd').html(textHouses);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchLcd', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }

  function sortedLcd (field) {
    var selectedSize = localStorage.getItem('selectedLcdSize');
    var searchVal = localStorage.getItem('searchLcd');
    // var url = '/Swipe-Admin/houses';
    // if(selectedSize == null){
    //   selectedSize = '3';
    // }
    $.ajax({
      url: url + '?sortedLcd=' + field,
      type: 'GET',
      data: {
        lcdSize: selectedSize,
        searchLcd: searchVal
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableLcd').html();
        $('#tableLcd').html(tableHtml);

        var pagination = $(data).find('#lcdPagination').html();
        $('#lcdPagination').html(pagination);
        var next = $(data).find('#nextLcd').html();
        $('#nextLcd').html(next);
        var previous = $(data).find('#previousLcd').html();
        $('#previousLcd').html(previous);
        var textHouses = $(data).find('#textLcd').html();
        $('#textLcd').html(textHouses);
        // $('#blackListTable').html(data);
        localStorage.setItem('sortedLcd', field);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function closeLcd () {
    var selectedSize = localStorage.getItem('selectedLcdSize');
    // e.preventDefault();
    var searchVal = 'null';
    // var url = '/Swipe-Admin/houses';
    if(selectedSize == null){
      selectedSize = '3';
    }
    $.ajax({
      url: url + '?searchLcd=' + searchVal,
      type: 'GET',
      data: {
        lcdSize: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableLcd').html();
        $('#tableLcd').html(tableHtml);

        var pagination = $(data).find('#lcdPagination').html();
        $('#lcdPagination').html(pagination);
        var search = $(data).find('#lcdSearch').html();
        $('#lcdSearch').html(search);
        var next = $(data).find('#nextLcd').html();
        $('#nextLcd').html(next);
        var previous = $(data).find('#previousLcd').html();
        $('#previousLcd').html(previous);
        var textHouses = $(data).find('#textLcd').html();
        $('#textLcd').html(textHouses);

        // $('#blackListTable').html(data);
        localStorage.setItem('searchLcd', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  $(document).ready(function() {

    var selectedSize = localStorage.getItem('selectedLcdSize');
    var page = localStorage.getItem('pageLcd');

    if (selectedSize) {
      $('#sizeLcd').val(selectedSize);
    }
    $('#previousLcd').on('click','li',function(e) {
      var sortVal = localStorage.getItem('sortedLcd');
      var searchBlack = localStorage.getItem('searchLcd');
      e.preventDefault();

      var pageNumber = $('#pageNumberLcdPr').val();

      // var url = '/Swipe-Admin/houses';

      // pageNumber -= 1;
      $.ajax({
        url:url+'?lcdPage='+pageNumber,
        type: 'GET',
        data:{
          lcdSize: selectedSize,
          searchLcd: searchBlack,
          sortedLcd: sortVal
        },
        success: function(data) {
          var tableHtml = $(data).find('#lcdTable').html();
          $('#lcdTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextLcd').html();
          $('#nextLcd').html(next);
          var previous = $(data).find('#previousLcd').html();
          $('#previousLcd').html(previous);
          var textHouses = $(data).find('#textLcd').html();
          $('#textLcd').html(textHouses);
          $('#lcdPagination li').removeClass('active');
          $('#lcdPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageLcd', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });

    $('#nextLcd').on('click','li',function(e) {
      var sortVal = localStorage.getItem('sortedLcd');
      var searchBlack = localStorage.getItem('searchLcd');
      e.preventDefault();
      var pageNumber = $('#pageNumberLcdNext').val();
      // var url = '/Swipe-Admin/houses';


      $.ajax({
        url:url+'?lcdPage='+pageNumber,
        type: 'GET',
        data:{
          lcdSize: selectedSize,
          searchLcd: searchBlack,
          sortedLcd:sortVal
        },
        success: function(data) {
          var tableHtml = $(data).find('#lcdTable').html();
          $('#lcdTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextLcd').html();
          $('#nextLcd').html(next);
          var previous = $(data).find('#previousLcd').html();
          $('#previousLcd').html(previous);
          var textHouses = $(data).find('#textLcd').html();
          $('#textLcd').html(textHouses);
          $('#lcdPagination li').removeClass('active');
          $('#lcdPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageContractor', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });
    $('#sizeLcd').on('change', function() {
      var sortVal = localStorage.getItem('sortedLcd');
      var search = localStorage.getItem('searchLcd');
      selectedSize = $(this).val();
      // var url = '/Swipe-Admin/houses';

      if (page == null) {
        page = '0';
      }

      $.ajax({
        url: url + '?lcdSize=' + selectedSize,
        type: 'GET',
        data: {
          lcdSize: selectedSize,
          lcdPage: page,
          searchLcd:search,
          sortedLcd:sortVal
        },
        contentType: "application/json"
      })
              .done(function(data) {
                var size = $(data).find('#lcdTable').html();
                $('#lcdTable').html(size);
                var pagination = $(data).find('#lcdPagination').html();
                $('#lcdPagination').html(pagination);
                var next = $(data).find('#nextLcd').html();
                $('#nextLcd').html(next);
                var previous = $(data).find('#previousLcd').html();
                $('#previousLcd').html(previous);
                var textHouses = $(data).find('#textLcd').html();
                $('#textLcd').html(textHouses);
                localStorage.setItem('selectedLcdSize', selectedSize);
              })
              .fail(function() {
                alert('Произошла ошибка при загрузке данных.');
              });
    });

    $('#lcdPagination').on('click', 'li', function(e) {
      var sortVal = localStorage.getItem('sortedLcd');
      var search = localStorage.getItem('searchLcd');
      e.preventDefault();
      var pageNumber = $(this).text();
      $('#lcdPagination li').removeClass('active');
      $(this).addClass('active');
      // var url = '/Swipe-Admin/houses';

      if (selectedSize == null) {
        selectedSize = '3';
      }

      pageNumber -= 1;
      $.ajax({
        url: url + '?lcdPage=' + pageNumber,
        type: 'GET',
        data: {
          lcdSize: selectedSize,
          lcdPage: pageNumber,
          searchLcd:search,
          sortedLcd: sortVal
        }
      })
              .done(function(data) {
                var tableHtml = $(data).find('#lcdTable').html();
                $('#lcdTable').html(tableHtml);
                var next = $(data).find('#nextLcd').html();
                $('#nextLcd').html(next);
                var previous = $(data).find('#previousLcd').html();
                $('#previousLcd').html(previous);
                var textHouses = $(data).find('#textLcd').html();
                $('#textLcd').html(textHouses);
                localStorage.setItem('pageLcd', pageNumber);
              })
              .fail( function(xhr, status, error) {
                console.log(error);
              })
    });
    $(window).on('beforeunload', function() {
      localStorage.removeItem('selectedLcdSize');
      localStorage.removeItem('pageLcd');
    });

  });






  function searchApartment () {
    var selectedSize = localStorage.getItem('selectedApartmentSize');
    // e.preventDefault();
    var searchVal = document.getElementById('searchInputApartment').value;
    // var url = '/Swipe-Admin/houses';
    // if(selectedSize == null){
    //   selectedSize = '3';
    // }
    $.ajax({
      url: url + '?searchApartment=' + searchVal,
      type: 'GET',
      data: {
        apartmentSize: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableApartment').html();
        $('#tableApartment').html(tableHtml);

        var pagination = $(data).find('#apartmentPagination').html();
        $('#apartmentPagination').html(pagination);
        var next = $(data).find('#nextApartment').html();
        $('#nextApartment').html(next);
        var previous = $(data).find('#previousApartment').html();
        $('#previousApartment').html(previous);
        var textHouses = $(data).find('#textApartment').html();
        $('#textApartment').html(textHouses);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchApartment', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function sortedApartment (field) {
    var selectedSize = localStorage.getItem('selectedApartmentSize');
    var searchVal = localStorage.getItem('searchApartment');
    // var url = '/Swipe-Admin/houses';
    // if(selectedSize == null){
    //   selectedSize = '3';
    // }
    $.ajax({
      url: url + '?sortedApartment=' + field,
      type: 'GET',
      data: {
        apartmentSize: selectedSize,
        searchApartment: searchVal
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableApartment').html();
        $('#tableApartment').html(tableHtml);

        var pagination = $(data).find('#apartmentPagination').html();
        $('#apartmentPagination').html(pagination);
        var next = $(data).find('#nextApartment').html();
        $('#nextApartment').html(next);
        var previous = $(data).find('#previousApartment').html();
        $('#previousApartment').html(previous);
        var textHouses = $(data).find('#textApartment').html();
        $('#textApartment').html(textHouses);
        // $('#blackListTable').html(data);
        localStorage.setItem('sortedApartment', field);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function closeApartment () {
    var selectedSize = localStorage.getItem('selectedApartmentSize');
    // e.preventDefault();
    var searchVal = '0';
    // var url = '/Swipe-Admin/houses';
    if(selectedSize == null){
      selectedSize = '3';
    }
    $.ajax({
      url: url + '?searchApartment=' + searchVal,
      type: 'GET',
      data: {
        apartmentSize: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableApartment').html();
        $('#tableApartment').html(tableHtml);

        var pagination = $(data).find('#apartmentPagination').html();
        $('#apartmentPagination').html(pagination);
        var search = $(data).find('#apartmentSearch').html();
        $('#apartmentSearch').html(search);
        var next = $(data).find('#nextApartment').html();
        $('#nextApartment').html(next);
        var previous = $(data).find('#previousApartment').html();
        $('#previousApartment').html(previous);
        var textHouses = $(data).find('#textApartment').html();
        $('#textApartment').html(textHouses);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchApartment', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }


  $(document).ready(function() {
    var selectedSize = localStorage.getItem('selectedApartmentSize');
    var page = localStorage.getItem('pageApartment');


    if (selectedSize) {
      $('#sizeApartment').val(selectedSize);
    }


    $('#previousApartment').on('click','li',function(e) {
      var sortedApartment = localStorage.getItem('sortedApartment');
      var searchBlack = localStorage.getItem('searchApartment');
      e.preventDefault();

      var pageNumber = $('#pageNumberApartmentPr').val();

      // var url = '/Swipe-Admin/houses';

      // pageNumber -= 1;
      $.ajax({
        url:url+'?apartmentPage='+pageNumber,
        type: 'GET',
        data:{
          apartmentSize: selectedSize,
          searchApartment: searchBlack,
          sortedApartment: sortedApartment
        },
        success: function(data) {
          var tableHtml = $(data).find('#apartmentTable').html();
          $('#apartmentTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextApartment').html();
          $('#nextApartment').html(next);
          var previous = $(data).find('#previousApartment').html();
          $('#previousApartment').html(previous);
          var textHouses = $(data).find('#textApartment').html();
          $('#textApartment').html(textHouses);
          $('#apartmentPagination li').removeClass('active');
          $('#apartmentPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageApartment', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });

    $('#nextApartment').on('click','li',function(e) {
      var sortedApartment = localStorage.getItem('sortedApartment');
      var searchBlack = localStorage.getItem('searchApartment');
      e.preventDefault();
      var pageNumber = $('#pageNumberApartmentNext').val();
      // var url = '/Swipe-Admin/houses';


      $.ajax({
        url:url+'?apartmentPage='+pageNumber,
        type: 'GET',
        data:{
          apartmentSize: selectedSize,
          searchApartment: searchBlack,
          sortedApartment: sortedApartment
        },
        success: function(data) {
          var tableHtml = $(data).find('#apartmentTable').html();
          $('#apartmentTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextApartment').html();
          $('#nextApartment').html(next);
          var previous = $(data).find('#previousApartment').html();
          $('#previousApartment').html(previous);
          var textHouses = $(data).find('#textApartment').html();
          $('#textApartment').html(textHouses);
          $('#apartmentPagination li').removeClass('active');
          $('#apartmentPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageApartment', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });


    $('#sizeApartment').on('change', function() {
      var sortedApartment = localStorage.getItem('sortedApartment');
      var search = localStorage.getItem('searchApartment');
      selectedSize = $(this).val();
      // var url = '/Swipe-Admin/houses';

      if (page == null) {
        page = '0';
      }

      $.ajax({
        url: url + '?apartmentSize=' + selectedSize,
        type: 'GET',
        data: {
          apartmentSize: selectedSize,
          apartmentPage: page,
          searchApartment:search,
          sortedApartment: sortedApartment
        },
        contentType: "application/json"
      })
              .done(function(data) {
                var size = $(data).find('#apartmentTable').html();
                $('#apartmentTable').html(size);
                var pagination = $(data).find('#apartmentPagination').html();
                $('#apartmentPagination').html(pagination);
                var next = $(data).find('#nextApartment').html();
                $('#nextApartment').html(next);
                var previous = $(data).find('#previousApartment').html();
                $('#previousApartment').html(previous);
                var textHouses = $(data).find('#textApartment').html();
                $('#textApartment').html(textHouses);
                localStorage.setItem('selectedApartmentSize', selectedSize);
              })
              .fail(function() {
                alert('Произошла ошибка при загрузке данных.');
              });
    });

    $('#apartmentPagination').on('click', 'li', function(e) {
      var sortedApartment = localStorage.getItem('sortedApartment');
      var search = localStorage.getItem('searchApartment');
      e.preventDefault();
      var pageNumber = $(this).text();
      $('#apartmentPagination li').removeClass('active');
      $(this).addClass('active');
      // var url = '/Swipe-Admin/houses';

      if (selectedSize == null) {
        selectedSize = '3';
      }

      pageNumber -= 1;
      $.ajax({
        url: url + '?apartmentPage=' + pageNumber,
        type: 'GET',
        data: {
          apartmentSize: selectedSize,
          apartmentPage: pageNumber,
          searchApartment:search,
          sortedApartment: sortedApartment
        }
      })
              .done(function(data) {
                var tableHtml = $(data).find('#apartmentTable').html();
                $('#apartmentTable').html(tableHtml);
                var next = $(data).find('#nextApartment').html();
                $('#nextApartment').html(next);
                var previous = $(data).find('#previousApartment').html();
                $('#previousApartment').html(previous);
                var textHouses = $(data).find('#textApartment').html();
                $('#textApartment').html(textHouses);
                localStorage.setItem('pageApartment', pageNumber);
              })
              .fail( function(xhr, status, error) {
                console.log(error);
              })
    });
    $(window).on('beforeunload', function() {
      localStorage.removeItem('selectedApartmentSize');
      localStorage.removeItem('pageApartment');
      localStorage.removeItem('sortedApartment');
    });

  });
  $(window).on('beforeunload', function() {
    localStorage.removeItem('searchLcd');
    localStorage.removeItem('sortedLcd');
    localStorage.removeItem('searchApartment');
  });
</script>
</body>

</html>