<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <style th:replace="~{/admin.shared/style}"></style></head>

<body>
<!--<script>-->
<!--  var token = [[${token}]];-->
<!--  console.log(token);-->
<!--  fetch('http://localhost:8081/users', {-->
<!--    method: 'GET',-->
<!--    headers: new Headers({-->
<!--      'Authorization': 'Bearer ' + token,-->
<!--      'Content-Type': 'application/json'-->
<!--    }),-->
<!--    body: { /* some data */ }-->
<!--  });-->
<!--</script>-->
<div class="wrapper">
  <div th:replace="~{/admin.shared/header}"></div>
  <div th:replace="~{/admin.shared/left_sidebar}"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div>
    <div style="text-align: center">
      <h3>Список ЖК</h3>
    </div>
    <div>
      <table class="table table-striped" style="margin: 20px">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Название</th>
          <th scope="col">Адрес</th>
          <th scope="col">
            <form method="get" action="/add_user">
                <button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                <i class="fas fa-plus">
                </i>
              </button>
            </form></th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="lcd:${lcds}">
            <th scope="row"><p th:text="${lcd.getIdLcd()}"></p></th>
            <td><p th:text="${lcd.getName()}"></p></td>
            <td><p th:text="${lcd.getName()}"></p></td>
            <td>
              <div style="display: flex">
              <form th:action="@{/lcd_edit/{id}(id=${lcd.getIdLcd()})}"  method="get" >
                <button type="submit" class="btn btn-info btn-sm">
                  <i class="fas fa-pencil">
                  </i>
                </button>
              </form>
              <form action="/delete_user"  method="post" >
                <input type="hidden" name="id" th:value="${lcd.getIdLcd()}" />
                <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                  <i class="fas fa-trash">
                  </i>
                </button>

              </form>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
<!--      <div style="display: flex; justify-content: center">-->
<!--        <button type="button" class="btn btn-secondary">Добавить</button>-->
<!--      </div>-->
    </div>

  </div>
    <div>
      <div style="text-align: center">
        <h3>Список квартир не от застройщика</h3>
      </div>
      <div>
        <table class="table table-striped" style="margin: 20px">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ЖК</th>
            <th scope="col">Номер</th>
            <th scope="col"><button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
              <i class="fas fa-plus">
              </i>
            </button></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="apartment:${apartments}">
            <th scope="row"><p th:text="${apartment.getIdApartment()}"></p></th>
            <td><p th:text="${apartment.getLcd().getName()}"></p></td>
            <td><p th:text="${apartment.getNumber()}"></p></td>
            <td>
              <div style="display: flex">
                <form th:action="@{/apartment_edit/{id}(id=${apartment.getIdApartment()})}"  method="get" >
                  <button type="submit" class="btn btn-info btn-sm">
                    <i class="fas fa-pencil">
                    </i>
                  </button>
                </form>
                <form action="/delete_user"  method="post" >
                  <input type="hidden" name="id" th:value="${apartment.getIdApartment()}" />
                  <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                    <i class="fas fa-trash">
                    </i>
                  </button>

                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
<!--        <div style="display: flex; justify-content: center">-->
<!--          <button type="button" class="btn btn-secondary">Добавить</button>-->
<!--        </div>-->
      </div>

    </div>
  </div>
</div>
<div th:replace="~{/admin.shared/footer}"></div>
<div th:replace="~{/admin.shared/script}"></div>
<div th:fragment="script"></div>

</body>

</html>