<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body>
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/lcd_update/{id}(id=${lcd.getIdLcd()})}">
      <div style="display: flex; justify-content: space-between">
        <h4 class="mb-3">ЖК</h4>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Название</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="Введите имя..." th:value="${lcd.getName()}" required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>

          <div class="col-sm-12">
            <label for="floatingTextarea">Описание</label>
            <textarea class="form-control" th:placeholder="${lcd.getDescription()}" id="floatingTextarea" name="description"></textarea>


          </div>
          <div class="col-sm-6">
            <label  class="form-label">Адрес</label>
            <input type="text" class="form-control" name="address"  placeholder="Введите имя..."  required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>
          <div class="col-sm-4">
            <label  class="form-label" for="5">Преимущество</label>
            <div id="5">
              <input type="checkbox" id="1" name="advantages">
              <label for="1">Спорт. площадка</label>
              <input type="checkbox" id="2" name="advantages">
              <label for="2">Парковка</label>
              <input type="checkbox" id="3" name="advantages">
              <label for="3">Школа</label>
              <input type="checkbox" id="4" name="advantages">
              <label for="4">Дет. Сад</label>
            </div>
          </div>
<!--          <div class="col-sm-6">-->

<!--            <div class="form-floating">-->
<!--              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="lcd">-->
<!--                <option th:each="lcd : ${lcds}" th:value="${lcd.getIdLcd()}" th:text="${lcd.getName()}"></option>-->
<!--              </select>-->
<!--              <label for="floatingSelect" class="form-label">ЖК</label>-->
<!--            </div>-->
<!--          </div>-->
          <label for="inputImg">Главная картина</label>
          <div class="form-group" style="display: flex">

            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img th:src="${lcd.getMainPhoto()}" id= "imgMain" style="width: 75px; height: 75px" alt="null">
            </div>
            <input type="file" name="file" id="inputImg" class="form-control" th:value="${lcd.getMainPhoto()}" style="margin-left: 30px; margin-top: 30px">
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  imgMain.src = URL.createObjectURL(file)
                }
              }
            </script>

          </div>
          <div>
            <label>Галерея картинок</label>
            <div class="card-body">
              <label>Размер 1000х190</label>
              <div class="row" >

                <div class="col-sm-3" th:each="photo:${lcd.getPhotosList()}">
                  <img th:src="${photo.getFileName()}" id="" class="img-fluid mb-2" alt="white sample">
                  <button type="submit" style="
                position: absolute;
                right: -1px;
                top: -10px;
                z-index: 11;
                border: 2px solid black;
                height: 30px;
                width: 30px;
                box-sizing: border-box;
                padding: 2px;
                border-radius: 50%;
            " >
                    <img src="/admin/dist/img/cross.png" width="20px" height="20px">
                  </button>
                  <input type="file" id="inputImg2" name="gallery" class="form-control" th:value="${photo.getFileName()}">
                </div>
                <div class="col-sm-3" style="margin-left: 20px">
                  <div style="display: flex; justify-content: center">
                    <a th:href="@{/add_photo/{idLcd}(idLcd = ${lcd.getIdLcd()})}">
                      <img src="../admin/dist/img/addCinema.png" width="150px">
                    </a>
                  </div>
                </div>



              </div>
            </div>
          </div>

          <div>
            <label>Документы</label>
            <div class="card-body">
              <label>Размер 1000х190</label>
              <div class="row" >

                <div class="col-sm-3" th:each="document:${lcd.getDocuments()}">
                  <img src="../admin/dist/img/document.png" id="img1" class="img-fluid mb-2" alt="white sample">
                  <button type="submit" style="
                position: absolute;
                right: -1px;
                top: -10px;
                z-index: 11;
                border: 2px solid black;
                height: 30px;
                width: 30px;
                box-sizing: border-box;
                padding: 2px;
                border-radius: 50%;
            " >
                    <img src="/admin/dist/img/cross.png" width="20px" height="20px">
                  </button>
                  <label for="inputDocument" th:text="${document.getName()}" style="text-align: center"></label>
                  <input type="file" id="inputDocument" name="document" class="form-control" th:value="${document.getFileName()}">
                </div>
                <div class="col-sm-3" style="margin-left: 20px">
                  <div style="display: flex; justify-content: center">
                    <a th:href="@{/add_photo/{idLcd}(idLcd = ${lcd.getIdLcd()})}">
                      <img src="../admin/dist/img/addCinema.png" width="150px">
                    </a>
                  </div>
                </div>



              </div>
            </div>
          </div>

<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="foundingDocument">-->
<!--                <option th:each="type:${foundingDocument}" th:value="${type.name()}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getFoundingDocument().getValue())}"></option>-->
<!--              </select>-->
<!--              <label  class="form-label">Статус</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="state">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.State).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getState().getValue())}"></option>-->

<!--              </select>-->
<!--              <label  class="form-label">Вид дома</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="type">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.TypeApartment).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getType().getValue())}"></option>-->
<!--              </select>-->
<!--              <label  class="form-label">Класс дома</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="balconyType">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.BalconyType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getBalconyType().getValue())}"></option>-->
<!--              </select>-->
<!--              <label class="form-label">Технология</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="calculation">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.Calculation).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCalculation().getValue())}"></option>-->
<!--              </select>-->
<!--              <label  class="form-label">Территория</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="countRoom">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.CountRoom).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCountRoom().getValue())}"></option>-->
<!--              </select>-->
<!--              <label class="form-label">Газ</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="layout">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.LayoutType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getLayout().getValue())}"></option>-->
<!--              </select>-->
<!--              <label  class="form-label">Канализация</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="heatingType">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getHeatingType().getValue())}"></option>-->
<!--              </select>-->
<!--              <label  class="form-label">Высота потолка</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="communicationType">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.CommunicationType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCommunicationType().getValue())}"></option>-->
<!--              </select>-->
<!--              <label  class="form-label">Коммуналка</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <div class="form-floating">-->
<!--              <select class="form-select"  aria-label="Floating label select example" name="commission">-->
<!--                <option th:each="type:${T(com.example.Swipe.Admin.enums.Commission).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(apartment.getCommission().getValue())}"></option>-->
<!--              </select>-->
<!--              <label  class="form-label">Отопление</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <label  class="form-label">Высота потолков</label>-->
<!--            <input type="text" class="form-control" name="totalArea"  placeholder="Введите имя..." th:value="${apartment.getTotalArea()}" required="">-->
<!--            <div class="invalid-feedback">-->
<!--              Введите имя...-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <label  class="form-label">Расстояние до моря</label>-->
<!--            <input type="text" class="form-control" name="kitchenArea"  placeholder="Введите имя..." th:value="${apartment.getKitchenArea()}" required="">-->
<!--            <div class="invalid-feedback">-->
<!--              Введите имя...-->
<!--            </div>-->
<!--          </div>-->

          <div>
            <table class="table table-striped" style="margin: 20px">
              <thead>
              <tr>
                <th scope="col">Корпус</th>
                <th scope="col">Колв квартир</th>
                <th scope="col"><button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                  <i class="fas fa-plus">
                  </i>
                </button></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="frame:${lcd.getFrames()}">
                <th scope="row"><p th:text="${frame.getNum()}"></p></th>
                <td><p th:text="${frame.getApartmentList().size()}"></p></td>
                <td>
                  <div style="display: flex">
                    <form th:action="@{/apartment_edit/{id}(id=${frame.getIdFrame()})}"  method="get" >
                      <button type="submit" class="btn btn-info btn-sm">
                        <i class="fas fa-pencil">
                        </i>
                      </button>
                    </form>
                    <form action="/delete_user"  method="post" >
                      <input type="hidden" name="id" th:value="${frame.getIdFrame()}" />
                      <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                        <i class="fas fa-trash">
                        </i>
                      </button>

                    </form>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <!--        <div style="display: flex; justify-content: center">-->
            <!--          <button type="button" class="btn btn-secondary">Добавить</button>-->
            <!--        </div>-->
          </div>

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>

        </div>
      </div>
    </form>



  </div>
</div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>


</body>

</html>