<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LCD Edit</title>
    <link rel="icon" type="image/png" th:href="@{/admin/dist/img/favicon.png}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body class="sidebar-mini">
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/lcd_edit/{id}(id=${lcd.getIdLcd()})}" th:object="${lcd}">
     <input type="hidden" name="idLcd" th:value="${lcd.getIdLcd()}">
      <div style="display: flex; justify-content: space-between">
        <h4 class="mb-3">ЖК</h4>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="row g-3">
          <div class="col-sm-12">
            <label for="firstName" class="form-label">Название</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="Введите название..." th:value="${lcd.getName()}" required="">
              <div th:if="${#fields.hasErrors('name')}">
                  <div class="text-danger">
                      <p th:errors="*{name}"></p>
                  </div>
              </div>
          </div>

          <div class="col-sm-12">
            <label for="floatingTextarea">Описание</label>
            <textarea class="form-control" th:placeholder="${lcd.getDescription()}" id="floatingTextarea" placeholder="Введите описание..." name="description" th:value="${lcd.getDescription()}" th:field="*{description}"></textarea>
              <div th:if="${#fields.hasErrors('description')}">
                  <div class="text-danger">
                      <p th:errors="*{description}"></p>
                  </div>
              </div>

          </div>
            <div class="col-sm-6">
                <label  class="form-label">Адрес</label>
                <input type="text" class="form-control" name="address"  th:value="${lcd.getAddress()}" placeholder="Введите адрес... (г.Город, р.Район, ул.Улица,1)" >
                <div th:if="${#fields.hasErrors('address')}">
                    <div class="text-danger">
                        <p th:errors="*{address}"></p>
                    </div>
                </div>
            </div>
          <div class="col-sm-6">
            <label  class="form-label">Оформление</label>
            <input type="text" class="form-control" name="formalization"  placeholder="Введите оформление..."  required="" th:value="${lcd.getFormalization()}">
              <div th:if="${#fields.hasErrors('formalization')}">
                  <div class="text-danger">
                      <p th:errors="*{formalization}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Варианты расчета</label>
            <input type="text" class="form-control" name="typePayment"  placeholder="Введите варинаты расчета..."  required="" th:value="${lcd.getTypePayment()}">
              <div th:if="${#fields.hasErrors('typePayment')}">
                  <div class="text-danger">
                      <p th:errors="*{typePayment}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Назначение</label>
            <input type="text" class="form-control" name="appointment"  placeholder="Введите назначение..."  required="" th:value="${lcd.getAppointment()}">
              <div th:if="${#fields.hasErrors('appointment')}">
                  <div class="text-danger">
                      <p th:errors="*{appointment}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Сумма в договоре</label>
            <input type="text" class="form-control" name="sumContract"  placeholder="Введите тип суммы в договоре..."  required="" th:value="${lcd.getSumContract()}">
              <div th:if="${#fields.hasErrors('sumContract')}">
                  <div class="text-danger">
                      <p th:errors="*{sumContract}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="contractor">
                <option th:each="contractor : ${contractors}" th:value="${contractor.getIdUser()}" th:text="${contractor.getName()+' '+contractor.getSurname()}" th:selected="${contractor.getIdUser() == lcd.getContractor()}"></option>
              </select>
              <label for="floatingSelect" class="form-label">Застройщик</label>
            </div>
          </div>
          <div class="col-sm-12">
            <label  class="form-label" for="5">Преимущество</label>
            <div id="5">
              <input type="checkbox" id="1" name="advantages" value="Спорт. площадка" th:checked="${T(com.example.Swipe.Admin.controller.LCDController).checkTypes(advantages.stream(),'Спорт. площадка')}">
              <label for="1">Спорт. площадка</label>
              <input type="checkbox" id="2" name="advantages" value="Парковка" th:checked="${T(com.example.Swipe.Admin.controller.LCDController).checkTypes(advantages.stream(),'Парковка')}">
              <label for="2">Парковка</label>
              <input type="checkbox" id="3" name="advantages" value="Школа" th:checked="${T(com.example.Swipe.Admin.controller.LCDController).checkTypes(advantages.stream(),'Школа')}">
              <label for="3">Школа</label>
              <input type="checkbox" id="4" name="advantages" value="Дет. Сад" th:checked="${T(com.example.Swipe.Admin.controller.LCDController).checkTypes(advantages.stream(),'Дет. Сад')}">
              <label for="4">Дет. Сад</label>
            </div>
              <div th:if="${#fields.hasErrors('advantages')}">
                  <div class="text-danger">
                      <p th:errors="*{advantages}"></p>
                  </div>
              </div>
          </div>
<!--          <div class="col-sm-6">-->

<!--            <div class="form-floating">-->
<!--              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="lcd">-->
<!--                <option th:each="lcd : ${lcds}" th:value="${lcd.getIdLcd()}" th:text="${lcd.getName()}"></option>-->
<!--              </select>-->
<!--              <label for="floatingSelect" class="form-label">ЖК</label>-->
<!--            </div>-->
<!--          </div>-->
          <label for="inputImg">Главная картина</label>
            <div th:if="${#fields.hasErrors('file')}">
                <div class="text-danger">
                    <p th:errors="*{file}"></p>
                </div>
            </div>
          <div class="form-group" style="display: flex">

            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img th:src="${lcd.getMainPhoto()}" id= "imgMain" style="width: 75px; height: 75px" alt="null">
            </div>
            <input type="file" name="file" id="inputImg" class="form-control" style="margin-left: 30px; margin-top: 30px" accept=".jpg,.jpeg,.png">

              <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  imgMain.src = URL.createObjectURL(file)
                }
              }
            </script>

          </div>
          <div id="galleryDiv">
            <label>Галерея картинок</label>
              <div th:if="${#fields.hasErrors('gallery')}">
                  <div class="text-danger">
                      <p th:errors="*{gallery}"></p>
                  </div>
              </div>
            <div class="card-body" >
              <label>Размер 1000х190</label>
              <div class="row" >

                <div class="col-sm-3" th:each="photo:${lcd.getPhotoList()}">
                  <img th:src="${photo.getFileName()}" th:id="'gallery'+${photo.getIdPhotos()}" class="img-fluid mb-2" alt="white sample">
                  <button type="button" style="
                position: absolute;
                right: -1px;
                top: -10px;
                z-index: 11;
                border: 2px solid black;
                height: 30px;
                width: 30px;
                box-sizing: border-box;
                padding: 2px;
                border-radius: 50%;
            " th:attr="onclick='deleteData(' + ${photo.getIdPhotos()} + ', ' + ${lcd.getIdLcd()} + ')'">
                    <img src="../admin/dist/img/cross.png" width="20px" height="20px">
                  </button>
                  <input type="file" id="inputImg2" th:id="inputGallery+${photo.getIdPhotos()}" name="gallery" class="form-control" th:value="${photo.getFileName()}" onchange="handleFileChange(event)" accept=".jpg,.jpeg,.png">
                  <script>
                    function handleFileChange(event) {
                      const input = event.target;
                      const file = input.files[0];
                      const id = input.id.slice(12); // Получаем идентификатор после "inputGallery"
                      const img = document.getElementById(`gallery${id}`);

                      if (file) {
                        img.src = URL.createObjectURL(file);
                      }
                    }
                  </script>
                </div>
                <div class="col-sm-3" style="margin-left: 20px">
                  <div style="display: flex; justify-content: center">
<!--                    <a th:href="@{/add_photo_lcd/{idLcd}(idLcd = ${lcd.getIdLcd()})}">-->

                    <button class="btn btn-outline" type="button" onclick="addPhoto()">
                      <img src="../admin/dist/img/addCinema.png" width="150px">
                    </button>
                  </div>
                </div>



              </div>
            </div>
          </div>

          <div>
            <label>Документы</label>
              <div th:if="${#fields.hasErrors('documentsFiles')}">
                  <div class="text-danger">
                      <p th:errors="*{documentsFiles}"></p>
                  </div>
              </div>
            <div class="card-body">
              <label>Размер 1000х190</label>
              <div class="row" id="documentDiv">

                <div class="col-sm-3" th:each="document:${lcd.getDocuments()}">
                  <img th:src="@{/admin/dist/img/document.png}" id="img1" class="img-fluid mb-2" alt="white sample">
                  <button type="button" style="
                position: absolute;
                right: -1px;
                top: -10px;
                z-index: 11;
                border: 2px solid black;
                height: 30px;
                width: 30px;
                box-sizing: border-box;
                padding: 2px;
                border-radius: 50%;
            " th:attr="onclick='deleteDocument(' + ${document.getIdDocuments()} + ', ' + ${lcd.getIdLcd()} + ')'">
                    <img th:src="@{/admin/dist/img/cross.png}" width="20px" height="20px">
                  </button>
                  <label for="inputDocument" id = "filename" th:text="${document.getName()}" style="text-align: center"></label>
                  <input type="file" id="inputDocument" name="documentsFiles" class="form-control" th:value="${document.getFileName()}" accept=".doc,.docx,.xlsx">
                </div>
                <script>
                  var fileInput = document.getElementById('inputDocument');
                  var listFile = document.getElementById('filename');

                  fileInput.onchange = function () {
                    var files = Array.from(this.files);
                    files = files.map(file => file.name);
                    listFile.innerHTML = files.join('<br/>');
                  }
                </script>

                <div class="col-sm-3" style="margin-left: 20px">
                  <div style="display: flex; justify-content: center">
<!--                    <a th:href="@{/add_document/{idLcd}(idLcd = ${lcd.getIdLcd()})}">-->
                    <button class="btn btn-outline" type="button" onclick="addDocument()">
                      <img th:src="@{/admin/dist/img/addCinema.png}" width="150px">
                    </button>
<!--                    </a>-->
                  </div>
                </div>



              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="status">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.StatusLCDType).values()}" th:value="${type.name()}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getStatus().getValue())}"></option>
              </select>
              <label  class="form-label">Статус</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="type">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.LCDType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getType().getValue())}"></option>

              </select>
              <label  class="form-label">Вид дома</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="lcdClass">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.ClassType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getLcdClass().getValue())}"></option>
              </select>
              <label  class="form-label">Класс дома</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="technology">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.TechnologyType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getTechnology().getValue())}"></option>
              </select>
              <label class="form-label">Технология</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="territory">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.TerritoryType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getTerritory().getValue())}"></option>
              </select>
              <label  class="form-label">Территория</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="gas">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.GasType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getGas().getValue())}"></option>
              </select>
              <label class="form-label">Газ</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="sewerage">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getSewerage().getValue())}"></option>
              </select>
              <label  class="form-label">Канализация</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="waterSupply">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getWaterSupply().getValue())}"></option>
              </select>
              <label  class="form-label">Водоснабжение</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="communal">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.CommunalType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getCommunal().getValue())}"></option>
              </select>
              <label  class="form-label">Коммуналка</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-floating">
              <select class="form-select"  aria-label="Floating label select example" name="heating">
                <option th:each="type:${T(com.example.Swipe.Admin.enums.HeatingType).values()}" th:value="${type.name}" th:text="${type.getValue()}" th:selected="${type.getValue().equals(lcd.getHeating().getValue())}"></option>
              </select>
              <label  class="form-label">Отопление</label>
            </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Высота потолков</label>
            <input type="number" class="form-control" name="height"  placeholder="Введите высоту потолков..." th:value="${lcd.getHeight()}" required="">
              <div th:if="${#fields.hasErrors('height')}">
                  <div class="text-danger">
                      <p th:errors="*{height}"></p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
            <label  class="form-label">Расстояние до моря</label>
            <input type="number" class="form-control" name="distanceSea"  placeholder="Введите расстояние до моря..." th:value="${lcd.getDistanceSea()}" required="">
              <div th:if="${#fields.hasErrors('distanceSea')}">
                  <div class="text-danger">
                      <p th:errors="*{distanceSea}"></p>
                  </div>
              </div>
          </div>
          <label>Корпуса</label>
          <div id="frameDiv">
            <table class="table table-striped" style="margin: 20px">
              <thead>
              <tr>
                <th scope="col">Корпус</th>
                <th scope="col">Колв квартир</th>
                <th scope="col">
<!--                  <a th:href="@{/add_frame/{idLcd}(idLcd = ${lcd.getIdLcd()})}" class="btn btn-secondary">-->

                  <button type="button" onclick="addFrame()" class="btn btn-secondary">
                    <i class="fas fa-plus">
                    </i>
                  </button></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="frame:${lcd.getFrames()}">
                <th scope="row"><p th:text="${frame.getNum()}"></p></th>
                <td><p th:text="${frame.getApartmentList().size()}"></p></td>
                <td>
                  <div style="display: flex">
                      <button type="button" class="btn btn-info btn-sm" th:attr="onclick='editFrame('+${frame.getIdFrame()}+')'" data-toggle="tooltip" data-placement="top" title="Edit frame">
                        <i class="fas fa-pencil">
                        </i>
                      </button>

                      <input type="hidden" name="id" th:value="${frame.getIdFrame()}" />
                      <button type="button" class="btn btn-danger btn-sm" style="margin-left: 10px" th:attr="onclick='deleteFrame('+${frame.getIdFrame()}+','+${lcd.getIdLcd()}+')'" data-toggle="tooltip" data-placement="top" title="Delete frame">
                        <i class="fas fa-trash">
                        </i>
                      </button>


                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <label>Новости</label>
          <div id="newsDiv">
            <table class="table table-striped" style="margin: 20px">
              <thead>
              <tr>
                <th scope="col">Заголовок</th>
                <th scope="col">Дата</th>
                <th scope="col">
                  <a th:href="@{/add_news/{idLcd}(idLcd = ${lcd.getIdLcd()})}" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                  <i class="fas fa-plus">
                  </i>
                </a></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="news:${lcd.getNewsList()}">
                <th scope="row"><p th:text="${news.getTitle()}"></p></th>
                <td><p th:text="${news.getDate()}"></p></td>
                <td>
                  <div style="display: flex">
                      <a th:href="@{/edit_news/{idNews}(idNews = ${news.getIdNews()})}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Edit news">
                        <i class="fas fa-pencil">
                        </i>
                      </a>

                      <button type="button" th:attr="onclick='deleteNews('+${news.getIdNews()}+', '+${lcd.getIdLcd()}+')'" class="btn btn-danger btn-sm" style="margin-left: 10px" data-toggle="tooltip" data-placement="top" title="Delete news">
                        <i class="fas fa-trash">
                        </i>
                      </button>

                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>

        </div>
      </div>
    </form>



  </div>
</div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>
<!--<script>-->
<!--  function addFrame(idLcd) {-->

<!--    $.ajax({-->
<!--      url: "/add_lcd/" + idLcd,-->
<!--      method: "GET",-->


<!--      success: function (response) {-->
<!--        window.location.href = "/lcd_edit/" + idLcd;-->
<!--      },-->
<!--      error: function (xhr, status, error) {-->
<!--        console.log('Произошла ошибка:', error);-->
<!--        alert('Произошла ошибка при выполнении запроса');-->
<!--      }-->
<!--    });-->
<!--  }-->
<!--</script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function addPhoto () {
    $.ajax({
      url:  '/Swipe-Admin/add_photo_lcd/'+[[${lcd.getIdLcd}]],
      type: 'GET',
      success: function (data) {
        var galleryHtml = $(data).find('#galleryDiv').html();
        $('#galleryDiv').html(galleryHtml);
      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function addDocument () {
    $.ajax({
      url:  '/Swipe-Admin/add_document/'+[[${lcd.getIdLcd}]],
      type: 'GET',
      success: function (data) {
        var galleryHtml = $(data).find('#documentDiv').html();
        $('#documentDiv').html(galleryHtml);
      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function editFrame(idFrame) {

    $.ajax({
      url: "/Swipe-Admin/edit_frame/" + idFrame,
      method: "GET",
      success: function (response) {
        window.location.href = "/Swipe-Admin/edit_frame/" + idFrame;
      },
      error: function (xhr, status, error) {
        console.error('Произошла ошибка:', error);
        alert('Произошла ошибка при выполнении запроса');
      }
    });
  }
  function addFrame() {

    $.ajax({
      url: "/Swipe-Admin/add_frame/" + [[${lcd.getIdLcd}]],
      method: "GET",
      success: function (response) {
        var galleryHtml = $(response).find('#frameDiv').html();
        $('#frameDiv').html(galleryHtml);
      },
      error: function (xhr, status, error) {
        console.error('Произошла ошибка:', error);
        alert('Произошла ошибка при выполнении запроса');
      }
    });
  }

  function deleteData(idPhoto, idLcd) {

    $.ajax({
      url: "/Swipe-Admin/delete_photo_lcd",
      method: "POST",
      data: {
        idPhoto: idPhoto,
        idLcd: idLcd
      } ,
      success: function(data) {
        var galleryHtml = $(data).find('#galleryDiv').html();
        $('#galleryDiv').html(galleryHtml);
      },
      error: function(xhr, status, error) {
        console.log('Произошла ошибка:', error);
        alert('Произошла ошибка при выполнении запроса');
      }
    });
  }
  function deleteFrame(idFrame, idLcd) {

    $.ajax({
      url: "/Swipe-Admin/delete_frame",
      method: "POST",
      data: {
        idFrame: idFrame,
        idLcd: idLcd
      } ,

      success: function(data) {
        var galleryHtml = $(data).find('#frameDiv').html();
        $('#frameDiv').html(galleryHtml);
      },
      error: function(xhr, status, error) {
        console.log('Произошла ошибка:', error);
        alert('Произошла ошибка при выполнении запроса');
      }
    });
  }
  function deleteDocument(idDocument, idLcd) {

    $.ajax({
      url: "/Swipe-Admin/delete_document",
      method: "POST",
      data: {
        idDocument: idDocument,
        idLcd: idLcd
      } ,

      success: function(data) {
        var galleryHtml = $(data).find('#documentDiv').html();
        $('#documentDiv').html(galleryHtml);
      },
      error: function(xhr, status, error) {
        console.error('Произошла ошибка:', error,status);
        alert('Произошла ошибка при выполнении запроса');
      }
    });
  }
  function deleteNews(idNews, idLcd) {

    $.ajax({
      url: "/Swipe-Admin/delete_news",
      method: "POST",
      data: {
        idNews: idNews,
        idLcd: idLcd
      } ,

      success: function(data) {
        var galleryHtml = $(data).find('#newsDiv').html();
        $('#newsDiv').html(galleryHtml);
      },
      error: function(xhr, status, error) {
        console.log('Произошла ошибка:', error);
        alert('Произошла ошибка при выполнении запроса');
      }
    });
  }

</script>

</body>

</html>