<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sales Edit</title>
  <link rel="icon" type="image/png" th:href="@{/admin/dist/img/favicon.png}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body class="sidebar-mini">
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper" style="padding-left: 50px">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Отдел продаж</h4>
      <form class="needs-validation" method="post" th:action="@{/sales_department_update/{id}(id=${salesDepartment.getIdSalesDepartment()})}">
        <input type="hidden" name="idContractor" th:value="${idContractor}" />
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="Введите имя..." th:value="${salesDepartment.getName()}" required="">
            <div class="invalid-feedback">
              Введите имя...
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" name="surname" id="lastName" placeholder="Введите фамилию..." th:value="${salesDepartment.getSurname()}" required="">
            <div class="invalid-feedback">
              Введите фамилию...
            </div>
          </div>
          <div class="col-sm-6">
            <label for="mail" class="form-label">Почта</label>
            <input type="text" class="form-control" name = "mail" id="mail" placeholder="you@example.com" th:value="${salesDepartment.getMail()}" required="">
            <div class="invalid-feedback">
              Введите почту...
            </div>
          </div>
          <div class="col-sm-6">
            <label for="username" class="form-label">Номер</label>
            <div class="input-group has-validation">
              <span class="input-group-text">+380</span>
              <input type="number" class="form-control" name ="number" id="username" placeholder="Введите номер..." th:value="${salesDepartment.getNumber()}" required="">
              <div class="invalid-feedback">
                Введите номер...
              </div>
            </div>
          </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>

        </div>
      </form>


    </div>
  </div>

</div>
<div th:insert="admin.shared/footer::footer"></div>
<div th:replace="~{/admin.shared/script}"></div>


</body>

</html>