<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Edit</title>
  <link rel="icon" type="image/png" th:href="@{/admin/dist/img/favicon.png}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style th:replace="~{/admin.shared/style}"></style>

<body class="sidebar-mini">
<div class="wrapper">
  <div th:insert="admin.shared/header::header"></div>
  <div th:insert="admin.shared/left_sidebar::left_sidebar"></div>

  <div class="content-wrapper">
    <div class="content">
    <form class="needs-validation" method="post" enctype="multipart/form-data" th:action="@{/user_edit/{id}(id=${id})}" th:object="${user}" id="formAdd">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h4>Пользователь</h4>
            </div>
            <div class="col-sm-6 form-check form-switch" th:if="${user.getUserAddInfoDTO()!=null}">
              <div class="breadcrumb float-sm-right" style="display: flex; margin-right: 50px">
                <div>
                  <h4 for="flexSwitchCheckDefault" style="margin-right: 5px">Уведомление</h4>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="userAddInfoDTO.callSms" th:checked="${user.getUserAddInfoDTO().isCallSms()}" style="margin-left: 5px; margin-top: 7px; width: 35px;height: 20px">
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </div>
      <div class="card-body">
      <input type="hidden" name="type" th:value="${user.getType()}">

<!--    <div style="display: flex; justify-content: space-between">-->
<!--      <h4 class="mb-3">Пользователь</h4>-->
<!--      <div class="form-check form-switch" style="display: flex; margin-right: 50px" >-->
<!--        <div>-->
<!--          <h4 for="flexSwitchCheckDefault" style="margin-right: 5px">Уведомление</h4>-->
<!--        </div>-->
<!--        <div>-->
<!--          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="userAddInfoDTO.callSms"  style="margin-left: 5px; margin-top: 7px; width: 35px;height: 20px" >-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-7 col-lg-8">-->


        <input type="hidden" name="id" th:value="${id}" />
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" name="name" id="firstName" placeholder="Введите имя..." th:value="${user.getName()}" >
            <div id="name">
            <div th:if="${#fields.hasErrors('name')}">
            <div class="text-danger">
              <p th:errors="*{name}"></p>
            </div>
          </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" name="surname" id="lastName" placeholder="Введите фамилию..." th:value="${user.getSurname()}" >
            <div id="surname">
            <div th:if="${#fields.hasErrors('surname')}">
              <div class="text-danger">
                <p th:errors="*{surname}"></p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="mail" class="form-label">Почта</label>
            <input type="email" class="form-control" name = "mail" placeholder="you@example.com" th:value="${user.getMail()}" >
            <div id="mail">
            <div th:if="${#fields.hasErrors('mail')}">
              <div class="text-danger">
                <p th:errors="*{mail}"></p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="username" class="form-label">Номер</label>
            <div class="input-group has-validation">
              <span class="input-group-text">+380</span>
              <input type="number" class="form-control" name ="number" id="username" placeholder="Введите номер..." th:value="${user.getNumber()}" >

            </div>
            <div id="number">
            <div th:if="${#fields.hasErrors('number')}">
              <div class="text-danger">
                <p th:errors="*{number}"></p>
              </div>
            </div>
            </div>
          </div>
          <div th:if="${user.getUserAddInfoDTO()!=null}" style="display: flex">
            <div class="col-sm-6">
              <label for="username" class="form-label">Подписка</label>
              <div class="input-group has-validation">
                <input type="date" class="form-control" name ="userAddInfoDTO.dateSub" id="sub" placeholder="Введите номер..." th:value="${user.getUserAddInfoDTO().getDateSub()}">
              </div>
              <div id="userAddInfoDTODateSub">
              <div th:if="${#fields.hasErrors('userAddInfoDTO.dateSub')}">
                <div class="text-danger">
                  <p th:errors="*{userAddInfoDTO.dateSub}"></p>
                </div>
              </div>
              </div>
            </div>
            <div class="col-sm-6">

              <div class="form-floating" style="margin-top: 15px">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="userAddInfoDTO.typeNotification">
                  <option value="ME" th:selected="${user.getUserAddInfoDTO().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).ME)}">Мне</option>
                  <option value="MEANDAGENT" th:selected="${user.getUserAddInfoDTO().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).MEANDAGENT)}" th:if="${user.getAgent()!=null}">Мне и агенту</option>
                  <option value="AGENT" th:selected="${user.getUserAddInfoDTO().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).AGENT)}" th:if="${user.getAgent()!=null}">Агенту</option>
                  <option value="OFF" th:selected="${user.getUserAddInfoDTO().getTypeNotification().equals(T(com.example.Swipe.Admin.enums.TypeNotification).OFF)}">Отключить</option>
                </select>
                <label for="floatingSelect" class="form-label">Тип уведомления</label>
              </div>
            </div>
          </div>
          <div class="form-group" id="photoDiv">
            <div> <h6>Фото на аватарку</h6> </div>
            <div class="form-group" style="display: flex">

              <!--          ${stock.getFileName}-->
              <img th:src="${user.getPhoto()}" id="img" style="width: 75px; height: 75px" alt="null">

            <input aria-label="file example" type="file" name="filename" id="inputImg" class="form-control" th:value="${user.getPhoto()}" style="margin-left: 30px; margin-top: 30px" accept=".jpg,.jpeg,.png">
          </div>
            <script>
              inputImg.onchange = evt => {
                const [file] = inputImg.files
                if (file) {
                  img.src = URL.createObjectURL(file)
                }
              }
            </script>
          </div>
          <div id="filename">
          <div th:if="${#fields.hasErrors('filename')}">
            <div class="text-danger">
              <p th:errors="*{filename}"></p>
            </div>
          </div>
          </div>
          <div th:if="!${user.getType().equals(T(com.example.Swipe.Admin.enums.TypeUser).NOTARY)}">
            <div th:if="${user.getType().equals(T(com.example.Swipe.Admin.enums.TypeUser).CLIENT)}"> <h6>Агент</h6> </div>
            <div th:if="${user.getType().equals(T(com.example.Swipe.Admin.enums.TypeUser).CONTRACTOR)}"> <h6>Отдел продаж</h6> </div>
            <div id="agentDiv">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col" th:if="${user.getAgent()!=null}"><p  th:text="${user.getAgent().getName()+' '+user.getAgent().getSurname()}"></p></th>
                  <th scope="col" th:if="${user.getAgent()!=null}"><p  th:text="${user.getAgent().getMail()}"></p></th>
                  <th scope="col">
<!--                    th:href="@{/agent_edit/{id}(id = ${user.getAgent().getIdAgent()})/{idUser}(idUser = ${user.getIdUser()})}"-->
                    <div style="display: flex" th:if="${user.getAgent()!=null}">
                      <a th:href="@{/agent_edit/{id}(id = ${user.getAgent().getIdAgent()})}">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Редактировать агента">
                          <i class="fas fa-pencil">
                          </i>
                        </button>
                      </a>
                    </div>
                    <div style="display: flex; justify-content: center" th:if="${user.getAgent()==null}">
                      <a th:href="@{/agent_add/{idUser}(idUser = ${user.getIdUser()})}">
<!--                        <button type="button" onclick="addAgent()" class="btn btn-secondary btn-sm">-->
                         <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Добавить агента">
                           Добавить
                         </button>
<!--                        </button>-->
                      </a>
                    </div>
                  </th>
                </tr>
                </thead>
              </table>
          </div>
          </div>
          <div class="d-flex justify-content-center">
        <button class="w-50 btn btn-primary btn-lg" type="submit">Сохранить</button>
          </div>

        </div>
    </div>
      </form>
<!--      </div>-->
    </div>

    </div>
  <div th:insert="admin.shared/footer::footer"></div>
  </div>

</div>

<div th:replace="~{/admin.shared/script}"></div>
<script>
  // let preUrl = '';
  let preUrl = '/Swipe-Admin';
  $(document).ready(function() {
    $('#formAdd').submit(function(e) {
      e.preventDefault();
      // var formData = $(this).serialize();
      var formData = new FormData(this);
      console.log(formData);
      $.ajax({
        url:preUrl+"/user_edit/"+[[${id}]],
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data, status,jqXHR) {
          console.log(status);
          console.log(data);
          console.log(jqXHR.status);
          if (jqXHR.status === 202) {
            var valid1 = $(data).find('#name').html();
            $('#name').html(valid1);
            var valid2 = $(data).find('#surname').html();
            $('#surname').html(valid2);
            var valid3 = $(data).find('#mail').html();
            $('#mail').html(valid3);
            var valid4 = $(data).find('#number').html();
            $('#number').html(valid4);

            var valid5 = $(data).find('#filename').html();
            $('#filename').html(valid5);

            var valid6 = $(data).find('#agentName').html();
            $('#agentName').html(valid6);

            var valid7 = $(data).find('#agentSurname').html();
            $('#agentSurname').html(valid7);

            var valid8 = $(data).find('#agentMail').html();
            $('#agentMail').html(valid8);

            var valid9 = $(data).find('#agentNumber').html();
            $('#agentNumber').html(valid9);

            var valid10 = $(data).find('#userAddInfoDTODateSub').html();
            $('#userAddInfoDTODateSub').html(valid10);
          }
          if (jqXHR.status === 200){
            window.location.href = preUrl+"/users";
          }
          if (jqXHR.status === 201){
            window.location.href = preUrl+"/contractors";
          }
          if (jqXHR.status === 204){
            window.location.href = preUrl+"/notaries";
          }
          //
          // var valid11 = $(data).find('#typePayment').html();
          // $('#typePayment').html(valid11);
          //
          // var valid12 = $(data).find('#address').html();
          // $('#address').html(valid12);
          //
          // var valid13 = $(data).find('#documentsFiles').html();
          // $('#documentsFiles').html(valid13);
          // console.log("success");

        },
        error: function(xhr, status, error) {
          console.log(status);
          console.log("error");
          // window.location.href = "/announcement";
        }
      });
    });
  });
</script>
<!--<script>-->
<!--  // Сохранение выбранного файла в LocalStorage-->
<!--  function saveFile() {-->
<!--    const fileInput = document.getElementById('inputImg');-->
<!--    const selectedFile = fileInput.files[0];-->

<!--    if (selectedFile) {-->
<!--      const reader = new FileReader();-->
<!--      reader.readAsDataURL(selectedFile);-->
<!--      reader.onload = function(event) {-->
<!--        const fileData = event.target.result;-->
<!--        localStorage.setItem('selectedFile', fileData);-->
<!--      };-->
<!--    }-->
<!--  }-->

<!--  // Восстановление выбранного файла из LocalStorage-->
<!--  function restoreFile() {-->
<!--    const fileData = localStorage.getItem('selectedFile');-->
<!--    if (fileData) {-->
<!--      const fileInput = document.getElementById('inputImg');-->
<!--      fileInput.value = ''; // Сброс значения input для корректной работы валидации-->
<!--      const imgElement = document.getElementById('img');-->
<!--      imgElement.src = fileData;-->
<!--    }-->
<!--  }-->

<!--  // Вызов функции восстановления файла при загрузке страницы-->
<!--  window.onload = restoreFile;-->
<!--</script>-->
<!--<script>-->
<!--  function addAgent () {-->
<!--    $.ajax({-->
<!--      url:  '/agent_add/'+[[${user.getIdUser()}]],-->
<!--      type: 'GET',-->
<!--      success: function (response) {-->
<!--        var galleryHtml = $(response).find('#agentDiv').html();-->
<!--        $('#agentDiv').html(galleryHtml);-->
<!--      },-->
<!--      error: function (xhr, status, error) {-->
<!--        alert("-")-->
<!--        console.log(error);-->
<!--      }-->
<!--    });-->
<!--  }-->
<!--</script>-->
<!--<script>-->
<!--  function saveFile() {-->
<!--    // Сохранение выбранного файла в LocalStorage-->
<!--    const fileInput = document.getElementById('inputImg');-->
<!--    const selectedFile = fileInput.files[0];-->

<!--    if (selectedFile) {-->
<!--      const reader = new FileReader();-->
<!--      reader.readAsDataURL(selectedFile);-->
<!--      reader.onload = function(event) {-->
<!--        const fileData = event.target.result;-->
<!--        localStorage.setItem('selectedFile', fileData);-->
<!--      };-->
<!--    }-->
<!--  }-->
<!--</script>-->
<!--<script>-->
<!--  function restoreFile() {-->
<!--    // Восстановление выбранного файла из LocalStorage-->
<!--    const fileData = localStorage.getItem('selectedFile');-->
<!--    if (fileData) {-->
<!--      const imgElement = document.getElementById('img');-->
<!--      imgElement.src = fileData;-->
<!--    }-->
<!--  }-->

<!--  window.onload = restoreFile;-->
<!--</script>-->
</body>

</html>