<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Security Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
  <style th:replace="~{/admin.shared/style}"></style></head>

<body>
<!--<script>-->
<!--  var token = [[${token}]];-->
<!--  console.log(token);-->
<!--  fetch('http://localhost:8081/users', {-->
<!--    method: 'GET',-->
<!--    headers: new Headers({-->
<!--      'Authorization': 'Bearer ' + token,-->
<!--      'Content-Type': 'application/json'-->
<!--    }),-->
<!--    body: { /* some data */ }-->
<!--  });-->
<!--</script>-->
<div class="wrapper">
  <div th:replace="~{/admin.shared/header}"></div>
  <div th:replace="~{/admin.shared/left_sidebar}"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div id="allUserContent">
    <div style="text-align: center">
      <h3>Список клиентов</h3>
    </div>
      <div style="display: flex; justify-content: right">
        <nav class="navbar bg-body-tertiary" id="clientSearch">
          <div class="container-fluid ">
            <div style="display: flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput" name="search">
              <button class="btn btn-outline-info" type="button" onclick="searchClient()">Search</button>
            </div>
          </div>
        </nav>
      </div>
    <div id="tableClient">
      <div id="closeSearch" th:if="${#strings.length(searchClient) >= 1 && (searchClient != null && !searchClient.equals('null'))}" style="margin-left: 20px">
        <i th:text="'Результат поиска по значению:'+${searchClient}"></i>
        <a onclick="closeClient()"><i class="fas fa-times"></i></a>
      </div>
      <table class="table table-striped"  style="margin: 20px" id="userTable">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ФИО</th>
          <th scope="col">Почта</th>
          <th scope="col">Уведомление</th>
          <th scope="col">
            <form method="get" action="/add_user">
              <input type="hidden" name="type" th:value="${typeClient}">
                <button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                <i class="fas fa-plus">
                </i>
              </button>
            </form></th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="user:${users}">
            <th scope="row"><p th:text="${user.getIdUser()}"></p></th>
            <td><p th:text="${user.getSurname()+' '+user.getName()}"></p></td>
            <td><p th:text="${user.getMail()}"></p></td>
            <td th:text="${user.getUserAddInfoDTO().isCallSms()}"></td>
            <td>
              <div style="display: flex">
              <form th:action="@{/user_edit/{id}(id=${user.getIdUser()})}"  method="get" >
                <button type="submit" class="btn btn-info btn-sm">
                  <i class="fas fa-pencil">
                  </i>
                </button>
              </form>
              <form th:action="@{/delete_user/{id}(id = ${user.getIdUser()})}"  method="post" >
                <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                  <i class="fas fa-trash">
                  </i>
                </button>

              </form>
                <form action="/add_to_black_list"  method="post" >
                  <input type="hidden" name="idUser" th:value="${user.getIdUser()}" />
                  <button type="submit" class="btn btn-dark btn-sm" style="margin-left: 10px">
                    <i class="nav-icon fas fa-calendar-minus"></i>
                  </button>

                </form>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
<!--      <div style="display: flex; justify-content: center">-->
<!--        <button type="button" class="btn btn-secondary">Добавить</button>-->
<!--      </div>-->
    </div>
      <nav aria-label="Page navigation example" style="display: flex; justify-content: center ">
        <ul class="pagination" id="previousClient">
          <li class="page-item" th:hidden="${pageUser.getNumber()==0}">
            <input type="hidden" id="pageNumberClientPr" th:value="${pageUser.getNumber()-1}">
            <a class="page-link" href="#" aria-label="Previous" th:value="${pageUser.getTotalPages()}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" id="userPagination">

          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"  th:each="p: ${#numbers.sequence(1, pageUser.getTotalPages()-1)}" th:if="${pageUser.getTotalPages()>=2}"><a class="page-link" href="#" th:text="${p+1}"></a></li>
        </ul>
        <ul class="pagination" id="nextClient" >
          <li class="page-item" th:hidden="${pageUser.getNumber()==pageUser.getTotalPages()-1}">
            <input type="hidden" id="pageNumberClientNext" th:value="${pageUser.getNumber()+1}">
            <a class="page-link" href="#" aria-label="Next" th:value="${pageUser.getTotalPages()}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" style="margin-left: 5px">
          <li class="page-item">
            <select class="form-select"  aria-label="Floating label select example" id="sizeUserPage" onchange="">
              <option value="3" th:selected="${pageUser.getSize()}==3">3</option>
              <option value="5" th:selected="${pageUser.getSize()}==5">5</option>
              <option value="10" th:selected="${pageUser.getSize()}==10">10</option>
            </select>
          </li>
        </ul>
      </nav>

  </div>
    <div>
      <div style="text-align: center">
        <h3>Список застройщик</h3>
      </div>
      <div style="display: flex; justify-content: right">
        <nav class="navbar bg-body-tertiary" id="contractorSearch">
          <div class="container-fluid ">
            <div style="display: flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInputContractor" name="search">
              <button class="btn btn-outline-info" type="button" onclick="searchContractor()">Search</button>
            </div>
          </div>
        </nav>
      </div>
      <div id="tableContractor">
        <div id="closeContractor" th:if="${#strings.length(searchContractor) >= 1 && (searchContractor != null && !searchContractor.equals('null'))}" style="margin-left: 20px">
          <i th:text="'Результат поиска по значению:'+${searchContractor}"></i>
          <a onclick="closeContractor()"><i class="fas fa-times"></i></a>
        </div>
        <table class="table table-striped" style="margin: 20px" id="contractorTable">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ФИО</th>
            <th scope="col">Почта</th>
            <th scope="col">
              <form method="get" action="/add_user">
                <input type="hidden" name="type" th:value="${typeContractor}">
                <button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                  <i class="fas fa-plus">
                  </i>
                </button>
              </form>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="contractor:${contractors}">
            <th scope="row"><p th:text="${contractor.getIdUser()}"></p></th>
            <td><p th:text="${contractor.getSurname()+' '+contractor.getName()}"></p></td>
            <td><p th:text="${contractor.getMail()}"></p></td>
            <td>
              <div style="display: flex">
                <form th:action="@{/user_edit/{id}(id=${contractor.getIdUser()})}"  method="get" >
                  <button type="submit" class="btn btn-info btn-sm">
                    <i class="fas fa-pencil">
                    </i>
                  </button>
                </form>
                <form th:action="@{/delete_user/{id}(id = ${contractor.getIdUser()})}" method="post" >
                  <input type="hidden" name="id" th:value="${contractor.getIdUser()}" />
                  <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                    <i class="fas fa-trash">
                    </i>
                  </button>

                </form>
                <form action="/add_to_black_list"  method="post" >
                  <input type="hidden" name="idUser" th:value="${contractor.getIdUser()}" />
                  <button type="submit" class="btn btn-dark btn-sm" style="margin-left: 10px">
                    <i class="nav-icon fas fa-calendar-minus"></i>
                  </button>

                </form>

              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" style="display: flex; justify-content: center ">
        <ul class="pagination" id="previousContractor">
          <li class="page-item" th:hidden="${pageContractor.getNumber()==0}">
            <input type="hidden" id="pageNumberContractorPr" th:value="${pageContractor.getNumber()-1}">
            <a class="page-link" href="#" aria-label="Previous" th:value="${pageContractor.getTotalPages()}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" id="contractorPagination">

          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"  th:each="p: ${#numbers.sequence(1, pageContractor.getTotalPages()-1)}" th:if="${pageContractor.getTotalPages()>=2}"><a class="page-link" href="#" th:text="${p+1}"></a></li>

        </ul>
        <ul class="pagination" id="nextContractor" >
          <li class="page-item" th:hidden="${pageContractor.getNumber()==pageContractor.getTotalPages()-1}">
            <input type="hidden" id="pageNumberContractorNext" th:value="${pageContractor.getNumber()+1}">
            <a class="page-link" href="#" aria-label="Next" th:value="${pageContractor.getTotalPages()}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" style="margin-left: 5px">
          <li class="page-item">
            <select class="form-select"  aria-label="Floating label select example" id="sizeContractorPage" onchange="">
              <option value="3" th:selected="${pageContractor.getSize()}==3">3</option>
              <option value="5" th:selected="${pageContractor.getSize()}==5">5</option>
              <option value="10" th:selected="${pageContractor.getSize()}==10">10</option>
            </select>
          </li>
        </ul>
      </nav>

    </div>
    <div>
      <div style="text-align: center">
        <h3>Список нотариусов</h3>
      </div>
      <div style="display: flex; justify-content: right">
        <nav class="navbar bg-body-tertiary" id="notarySearch">
          <div class="container-fluid ">
            <div style="display: flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInputNotary" name="search">
              <button class="btn btn-outline-info" type="button" onclick="searchNotary()">Search</button>
            </div>
          </div>
        </nav>
      </div>
      <div id = "tableNotary">
        <div id="closeNotary" th:if="${#strings.length(searchNotary) >= 1 && (searchNotary != null && !searchNotary.equals('null'))}" style="margin-left: 20px">
          <i th:text="'Результат поиска по значению:'+${searchNotary}"></i>
          <a onclick="closeNotary()"><i class="fas fa-times"></i></a>
        </div>
        <table class="table table-striped" style="margin: 20px" id="notaryTable">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ФИО</th>
            <th scope="col">Почта</th>
            <th scope="col"><form method="get" action="/add_user">
              <input type="hidden" name="type" th:value="${typeNotary}">
              <button type="submit" class="btn btn-secondary btn-sm" style="margin-left: 10px">
                <i class="fas fa-plus">
                </i>
              </button>
            </form></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="notary:${notaries}">
            <th scope="row"><p th:text="${notary.getIdUser()}"></p></th>
            <td><p th:text="${notary.getSurname()+' '+notary.getName()}"></p></td>
            <td><p th:text="${notary.getMail()}"></p></td>
            <td>
              <div style="display: flex">
                <form th:action="@{/user_edit/{id}(id=${notary.getIdUser()})}"  method="get" >
                  <button type="submit" class="btn btn-info btn-sm">
                    <i class="fas fa-pencil">
                    </i>
                  </button>
                </form>
                <form th:action="@{/delete_user/{id}(id = ${notary.getIdUser()})}"  method="post" >
                  <input type="hidden" name="id" th:value="${notary.getIdUser()}" />
                  <button type="submit" class="btn btn-danger btn-sm" style="margin-left: 10px">
                    <i class="fas fa-trash">
                    </i>
                  </button>

                </form>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" style="display: flex; justify-content: center ">
        <ul class="pagination" id="previousNotary">
          <li class="page-item" th:hidden="${pageNotary.getNumber()==0}">
            <input type="hidden" id="pageNumberNotaryPr" th:value="${pageNotary.getNumber()-1}">
            <a class="page-link" href="#" aria-label="Previous" th:value="${pageNotary.getTotalPages()}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" id="notaryPagination">

          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item" th:each="p: ${#numbers.sequence(1, pageNotary.getTotalPages()-1)}" th:if="${pageNotary.getTotalPages()>=2}"><a class="page-link" href="#" th:text="${p+1}"></a></li>

        </ul>
        <ul class="pagination" id="nextNotary" >
          <li class="page-item" th:hidden="${pageNotary.getNumber()==pageNotary.getTotalPages()-1}">
            <input type="hidden" id="pageNumberNotaryNext" th:value="${pageNotary.getNumber()+1}">
            <a class="page-link" href="#" aria-label="Next" th:value="${pageNotary.getTotalPages()}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <ul class="pagination" style="margin-left: 5px">
          <li class="page-item">
            <select class="form-select"  aria-label="Floating label select example" id="sizeNotaryPage" onchange="">
              <option value="3" th:selected="${pageNotary.getSize()}==3">3</option>
              <option value="5" th:selected="${pageNotary.getSize()}==5">5</option>
              <option value="10" th:selected="${pageNotary.getSize()}==10">10</option>
            </select>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div th:replace="~{/admin.shared/footer}"></div>
<div th:replace="~{/admin.shared/script}"></div>
<div th:fragment="script"></div>
<script>
  function searchClient () {
    var selectedSize = localStorage.getItem('selectedUserSize');
    // e.preventDefault();
    var searchVal = document.getElementById('searchInput').value;
    var url = '/users';
    // if(selectedSize == null){
    //   selectedSize = '3';
    // }
    $.ajax({
      url: url + '?searchClient=' + searchVal,
      type: 'GET',
      data: {
        sizeUserPage: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableClient').html();
        $('#tableClient').html(tableHtml);

        var pagination = $(data).find('#userPagination').html();
        $('#userPagination').html(pagination);
        var next = $(data).find('#nextClient').html();
        $('#nextClient').html(next);
        var previous = $(data).find('#previousClient').html();
        $('#previousClient').html(previous);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchClient', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function closeClient () {
    var selectedSize = localStorage.getItem('selectedUserSize');
    // e.preventDefault();
    var searchVal = 'null';
    var url = '/users';
    if(selectedSize == null){
      selectedSize = '3';
    }
    $.ajax({
      url: url + '?searchClient=' + searchVal,
      type: 'GET',
      data: {
        sizeUserPage: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableClient').html();
        $('#tableClient').html(tableHtml);

        var pagination = $(data).find('#userPagination').html();
        $('#userPagination').html(pagination);
        var search = $(data).find('#clientSearch').html();
        $('#clientSearch').html(search);
        var next = $(data).find('#nextClient').html();
        $('#nextClient').html(next);
        var previous = $(data).find('#previousClient').html();
        $('#previousClient').html(previous);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchClient', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  $(document).ready(function() {
    var selectedSize = localStorage.getItem('selectedUserSize');
    var page = localStorage.getItem('pageUser');

    if (selectedSize) {
      $('#sizeUserPage').val(selectedSize);
    }
    $('#previousClient').on('click','li',function(e) {
      var searchBlack = localStorage.getItem('searchClient');
      e.preventDefault();

      var pageNumber = $('#pageNumberClientPr').val();

      var url = '/users';

      // pageNumber -= 1;
      $.ajax({
        url:url+'?page='+pageNumber,
        type: 'GET',
        data:{
          sizeUserPage: selectedSize,
          searchClient: searchBlack
        },
        success: function(data) {
          var tableHtml = $(data).find('#userTable').html();
          $('#userTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextClient').html();
          $('#nextClient').html(next);
          var previous = $(data).find('#previousClient').html();
          $('#previousClient').html(previous);

          $('#userPagination li').removeClass('active');
          $('#userPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageUser', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });

    $('#nextClient').on('click','li',function(e) {
      var searchBlack = localStorage.getItem('searchClient');
      e.preventDefault();
      var pageNumber = $('#pageNumberClientNext').val();
      var url = '/users';


      $.ajax({
        url:url+'?page='+pageNumber,
        type: 'GET',
        data:{
          sizeUserPage: selectedSize,
          searchClient: searchBlack
        },
        success: function(data) {
          var tableHtml = $(data).find('#userTable').html();
          $('#userTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextClient').html();
          $('#nextClient').html(next);
          var previous = $(data).find('#previousClient').html();
          $('#previousClient').html(previous);

          $('#userPagination li').removeClass('active');
          $('#userPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageUser', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });

    $('#sizeUserPage').on('change', function() {
      var search = localStorage.getItem('searchClient');
      selectedSize = $(this).val();
      var url = '/users';

      if (page == null) {
        page = '0';
      }

      $.ajax({
        url: url + '?sizeUserPage=' + selectedSize,
        type: 'GET',
        data: {
          sizeUserPage: selectedSize,
          page: page,
          searchClient:search
        },
        contentType: "application/json"
      })
              .done(function(data) {
                var size = $(data).find('#userTable').html();
                $('#userTable').html(size);
                var pagination = $(data).find('#userPagination').html();
                $('#userPagination').html(pagination);
                var next = $(data).find('#nextClient').html();
                $('#nextClient').html(next);
                var previous = $(data).find('#previousClient').html();
                $('#previousClient').html(previous);
                localStorage.setItem('selectedUserSize', selectedSize);
              })
              .fail(function() {
                alert('Произошла ошибка при загрузке данных.');
              });
    });

    $('#userPagination').on('click', 'li', function(e) {
      var search = localStorage.getItem('searchClient');
      e.preventDefault();
      var pageNumber = $(this).text();
      $('#userPagination li').removeClass('active');
      $(this).addClass('active');
      var url = '/users';

      if (selectedSize == null) {
        selectedSize = '3';
      }

      pageNumber -= 1;
      $.ajax({
        url: url + '?page=' + pageNumber,
        type: 'GET',
        data: {
          sizeUserPage: selectedSize,
          page: pageNumber,
          searchClient:search
        }
      })
      .done(function(data) {
        var tableHtml = $(data).find('#userTable').html();
        $('#userTable').html(tableHtml);
        var next = $(data).find('#nextClient').html();
        $('#nextClient').html(next);
        var previous = $(data).find('#previousClient').html();
        $('#previousClient').html(previous);
        localStorage.setItem('pageUser', pageNumber);
      })
        .fail( function(xhr, status, error) {
          console.log(error);
        })
      });
    $(window).on('beforeunload', function() {
      localStorage.removeItem('selectedUserSize');
      localStorage.removeItem('pageUser');
    });

  });






  function searchContractor () {
    var selectedSize = localStorage.getItem('selectedContractorSize');
    // e.preventDefault();
    var searchVal = document.getElementById('searchInputContractor').value;
    var url = '/users';
    // if(selectedSize == null){
    //   selectedSize = '3';
    // }
    $.ajax({
      url: url + '?searchContractor=' + searchVal,
      type: 'GET',
      data: {
        sizeContractorPage: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableContractor').html();
        $('#tableContractor').html(tableHtml);

        var pagination = $(data).find('#contractorPagination').html();
        $('#contractorPagination').html(pagination);
        var next = $(data).find('#nextContractor').html();
        $('#nextContractor').html(next);
        var previous = $(data).find('#previousContractor').html();
        $('#previousContractor').html(previous);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchContractor', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function closeContractor () {
    var selectedSize = localStorage.getItem('selectedContractorSize');
    // e.preventDefault();
    var searchVal = 'null';
    var url = '/users';
    if(selectedSize == null){
      selectedSize = '3';
    }
    $.ajax({
      url: url + '?searchContractor=' + searchVal,
      type: 'GET',
      data: {
        sizeContractorPage: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableContractor').html();
        $('#tableContractor').html(tableHtml);

        var pagination = $(data).find('#contractorPagination').html();
        $('#contractorPagination').html(pagination);
        var search = $(data).find('#contractorSearch').html();
        $('#contractorSearch').html(search);
        var next = $(data).find('#nextContractor').html();
        $('#nextContractor').html(next);
        var previous = $(data).find('#previousContractor').html();
        $('#previousContractor').html(previous);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchContractor', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  $(document).ready(function() {
    var selectedSize = localStorage.getItem('selectedContractorSize');
    // var selectedSize = localStorage.getItem('selectedContractorSize');
    var page = localStorage.getItem('pageContractor');

    // if (selectedSize) {
    //   $('#sizeContractorPage').val(selectedSize);
    // }
    $('#previousContractor').on('click','li',function(e) {
      var searchBlack = localStorage.getItem('searchContractor');
      e.preventDefault();

      var pageNumber = $('#pageNumberContractorPr').val();

      var url = '/users';

      // pageNumber -= 1;
      $.ajax({
        url:url+'?pageContractor='+pageNumber,
        type: 'GET',
        data:{
          sizeContractorPage: selectedSize,
          searchContractor: searchBlack
        },
        success: function(data) {
          var tableHtml = $(data).find('#contractorTable').html();
          $('#contractorTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextContractor').html();
          $('#nextContractor').html(next);
          var previous = $(data).find('#previousContractor').html();
          $('#previousContractor').html(previous);

          $('#contractorPagination li').removeClass('active');
          $('#contractorPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageContractor', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });

    $('#nextContractor').on('click','li',function(e) {
      var searchBlack = localStorage.getItem('searchContractor');
      e.preventDefault();
      var pageNumber = $('#pageNumberContractorNext').val();
      var url = '/users';


      $.ajax({
        url:url+'?pageContractor='+pageNumber,
        type: 'GET',
        data:{
          sizeContractorPage: selectedSize,
          searchContractor: searchBlack
        },
        success: function(data) {
          var tableHtml = $(data).find('#contractorTable').html();
          $('#contractorTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextContractor').html();
          $('#nextContractor').html(next);
          var previous = $(data).find('#previousContractor').html();
          $('#previousContractor').html(previous);

          $('#contractorPagination li').removeClass('active');
          $('#contractorPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageContractor', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });
    $('#sizeContractorPage').on('change', function() {
      var search = localStorage.getItem('searchContractor');
      selectedSize = $(this).val();
      var url = '/users';

      if (page == null) {
        page = '0';
      }

      $.ajax({
        url: url + '?sizeContractorPage=' + selectedSize,
        type: 'GET',
        data: {
          sizeContractorPage: selectedSize,
          pageContractor: page,
          searchContractor:search
        },
        contentType: "application/json"
      })
              .done(function(data) {
                var size = $(data).find('#contractorTable').html();
                $('#contractorTable').html(size);
                var pagination = $(data).find('#contractorPagination').html();
                $('#contractorPagination').html(pagination);
                var next = $(data).find('#nextContractor').html();
                $('#nextContractor').html(next);
                var previous = $(data).find('#previousContractor').html();
                $('#previousContractor').html(previous);
                localStorage.setItem('selectedContractorSize', selectedSize);
              })
              .fail(function() {
                alert('Произошла ошибка при загрузке данных.');
              });
    });

    $('#contractorPagination').on('click', 'li', function(e) {
      var selectedSize = localStorage.getItem('selectedContractorSize');
      var search = localStorage.getItem('searchContractor');
      e.preventDefault();
      var pageNumber = $(this).text();
      $('#contractorPagination li').removeClass('active');
      $(this).addClass('active');
      var url = '/users';

      if (selectedSize == null) {
        selectedSize = '3';
      }

      pageNumber -= 1;
      $.ajax({
        url: url + '?pageContractor=' + pageNumber,
        type: 'GET',
        data: {
          sizeContractorPage: selectedSize,
          pageContractor: pageNumber,
          searchContractor:search
        }
      })
              .done(function(data) {
                var tableHtml = $(data).find('#contractorTable').html();
                $('#contractorTable').html(tableHtml);
                var next = $(data).find('#nextContractor').html();
                $('#nextContractor').html(next);
                var previous = $(data).find('#previousContractor').html();
                $('#previousContractor').html(previous);
                localStorage.setItem('pageContractor', pageNumber);
              })
              .fail( function(xhr, status, error) {
                console.log(error);
              })
    });
    $(window).on('beforeunload', function() {
      localStorage.removeItem('selectedContractorSize');
      localStorage.removeItem('pageContractor');
    });

  });









  function searchNotary () {
    var selectedSize = localStorage.getItem('selectedNotarySize');
    // e.preventDefault();
    var searchVal = document.getElementById('searchInputNotary').value;
    var url = '/users';
    // if(selectedSize == null){
    //   selectedSize = '3';
    // }
    $.ajax({
      url: url + '?searchNotary=' + searchVal,
      type: 'GET',
      data: {
        sizeNotaryPage: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableNotary').html();
        $('#tableNotary').html(tableHtml);

        var pagination = $(data).find('#notaryPagination').html();
        $('#notaryPagination').html(pagination);
        var next = $(data).find('#nextNotary').html();
        $('#nextNotary').html(next);
        var previous = $(data).find('#previousNotary').html();
        $('#previousNotary').html(previous);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchNotary', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  function closeNotary () {
    var selectedSize = localStorage.getItem('selectedNotarySize');
    // e.preventDefault();
    var searchVal = 'null';
    var url = '/users';
    if(selectedSize == null){
      selectedSize = '3';
    }
    $.ajax({
      url: url + '?searchNotary=' + searchVal,
      type: 'GET',
      data: {
        sizeNotaryPage: selectedSize,
        // search: searchVal
      },
      success: function (data) {
        var tableHtml = $(data).find('#tableNotary').html();
        $('#tableNotary').html(tableHtml);

        var pagination = $(data).find('#notaryPagination').html();
        $('#notaryPagination').html(pagination);
        var search = $(data).find('#notarySearch').html();
        $('#notarySearch').html(search);
        var next = $(data).find('#nextNotary').html();
        $('#nextNotary').html(next);
        var previous = $(data).find('#previousNotary').html();
        $('#previousNotary').html(previous);
        // $('#blackListTable').html(data);
        localStorage.setItem('searchNotary', searchVal);


      },
      error: function (xhr, status, error) {
        alert("-")
        console.log(error);
      }
    });
  }
  $(document).ready(function() {
    var selectedSize = localStorage.getItem('selectedNotarySize');
    var page = localStorage.getItem('pageNotary');

    if (selectedSize) {
      $('#sizeNotaryPage').val(selectedSize);
    }
    $('#previousNotary').on('click','li',function(e) {
      var searchBlack = localStorage.getItem('searchNotary');
      e.preventDefault();

      var pageNumber = $('#pageNumberNotaryPr').val();

      var url = '/users';

      // pageNumber -= 1;
      $.ajax({
        url:url+'?pageNotary='+pageNumber,
        type: 'GET',
        data:{
          sizeNotaryPage: selectedSize,
          searchNotary: searchBlack
        },
        success: function(data) {
          var tableHtml = $(data).find('#notaryTable').html();
          $('#notaryTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextNotary').html();
          $('#nextNotary').html(next);
          var previous = $(data).find('#previousNotary').html();
          $('#previousNotary').html(previous);

          $('#notaryPagination li').removeClass('active');
          $('#notaryPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageNotary', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });

    $('#nextNotary').on('click','li',function(e) {
      var searchBlack = localStorage.getItem('searchNotary');
      e.preventDefault();
      var pageNumber = $('#pageNumberNotaryNext').val();
      var url = '/users';


      $.ajax({
        url:url+'?pageNotary='+pageNumber,
        type: 'GET',
        data:{
          sizeNotaryPage: selectedSize,
          searchNotary: searchBlack
        },
        success: function(data) {
          var tableHtml = $(data).find('#notaryTable').html();
          $('#notaryTable').html(tableHtml);
          // var pagination = $(data).find('#paginationList').html();
          // $('#paginationList').html(pagination);
          var next = $(data).find('#nextNotary').html();
          $('#nextNotary').html(next);
          var previous = $(data).find('#previousNotary').html();
          $('#previousNotary').html(previous);

          $('#notaryPagination li').removeClass('active');
          $('#notaryPagination li').eq(pageNumber).addClass('active');
          localStorage.setItem('pageNotary', pageNumber);


        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });
    $('#sizeNotaryPage').on('change', function() {
      var search = localStorage.getItem('searchNotary');
      selectedSize = $(this).val();
      var url = '/users';

      if (page == null) {
        page = '0';
      }

      $.ajax({
        url: url + '?sizeNotaryPage=' + selectedSize,
        type: 'GET',
        data: {
          sizeNotaryPage: selectedSize,
          pageNotary: page,
          searchNotary:search
        },
        contentType: "application/json"
      })
              .done(function(data) {
                var size = $(data).find('#notaryTable').html();
                $('#notaryTable').html(size);
                var pagination = $(data).find('#notaryPagination').html();
                $('#notaryPagination').html(pagination);
                var next = $(data).find('#nextNotary').html();
                $('#nextNotary').html(next);
                var previous = $(data).find('#previousNotary').html();
                $('#previousNotary').html(previous);
                localStorage.setItem('selectedNotarySize', selectedSize);
              })
              .fail(function() {
                alert('Произошла ошибка при загрузке данных.');
              });
    });

    $('#notaryPagination').on('click', 'li', function(e) {
      var search = localStorage.getItem('searchNotary');
      e.preventDefault();
      var pageNumber = $(this).text();
      $('#notaryPagination li').removeClass('active');
      $(this).addClass('active');
      var url = '/users';

      if (selectedSize == null) {
        selectedSize = '3';
      }

      pageNumber -= 1;
      $.ajax({
        url: url + '?pageNotary=' + pageNumber,
        type: 'GET',
        data: {
          sizeNotaryPage: selectedSize,
          pageNotary: pageNumber,
          searchNotary:search
        }
      })
              .done(function(data) {
                var tableHtml = $(data).find('#notaryTable').html();
                $('#notaryTable').html(tableHtml);
                var next = $(data).find('#nextNotary').html();
                $('#nextNotary').html(next);
                var previous = $(data).find('#previousNotary').html();
                $('#previousNotary').html(previous);
                localStorage.setItem('pageNotary', pageNumber);
              })
              .fail( function(xhr, status, error) {
                console.log(error);
              })
    });
    $(window).on('beforeunload', function() {
      localStorage.removeItem('selectedNotarySize');
      localStorage.removeItem('pageNotary');
    });

  });
  $(window).on('beforeunload', function() {
    localStorage.removeItem('searchClient');
    localStorage.removeItem('searchContractor');
    localStorage.removeItem('searchNotary');
  });
</script>
</body>

</html>