<!-- Main Sidebar Container -->
<div th:fragment = "left_sidebar">
<aside class="main-sidebar sidebar-dark-primary elevation-4" >
  <!-- Brand Logo -->

  <div class="sidebar">
  <a th:href="@{/statistics}" class="brand-link" style="height: 50px">
    <img th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image font-weight-light" style="opacity: .9;" >
<!--    <span class="brand-text font-weight-light">Admin</span>-->
  </a>
  </div>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
<!--    <div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
<!--      <div class="image">-->
<!--        <img src="/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
<!--      </div>-->
<!--      <div class="info">-->
<!--        <a href="#" class="d-block">Alexander Pierce</a>-->
<!--      </div>-->
<!--    </div>-->

<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" id="sidebar" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a th:href="@{/statistics}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Статистика
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/announcement}" class="nav-link">
      <i class="nav-icon fas fa-home"></i>
        <p>
          Объявления
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/users}" class="nav-link">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>
          Пользователи
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/black_list}" class="nav-link">
        <i class="nav-icon fas fa-calendar-minus"></i>
        <p>
          Черный список
        </p>
      </a>
    </li>
  </ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>
</div>

<!--<script>-->
<!--  $('#sidebar').on('click', 'li', function(e) {-->
<!--    $('#sidebar li').removeClass('active');-->
<!--    $(this).addClass('active');-->
<!--    const navLink = document.querySelector(".nav-link");-->
<!--    const hrefValue = navLink.getAttribute("th:href");-->
<!--    $.ajax({-->
<!--      url: hrefValue,-->
<!--      type: 'GET',-->
<!--    })-->
<!--  });-->
<!--</script>-->