<!-- Main Sidebar Container -->
<div th:fragment = "left_sidebar">
<aside class="main-sidebar sidebar-dark-white elevation-4" >
  <!-- Brand Logo -->

  <div class="sidebar">
  <a th:href="@{/statistics}" class="brand-link" style="height: 50px">
    <img th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image font-weight-light" style="opacity: .9;" >
<!--    <span class="brand-text font-weight-light">Admin</span>-->
  </a>
  </div>
  <!-- Sidebar -->
  <div class="sidebar">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" id="sidebar" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a th:href="@{/statistics}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Статистика
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-home"></i>
        <p>
          Объявления
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a th:href="@{/lcds}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>ЖК</p>
          </a>
        </li>
        <li class="nav-item">
          <a th:href="@{/apartments}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Квартиры</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a th:href="@{/news_page}" class="nav-link">
        <i class="nav-icon fas fa-newspaper"></i>
        <p>
          Новости
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>
          Пользователи
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a th:href="@{/users}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Клиенты</p>
          </a>
        </li>
        <li class="nav-item">
          <a th:href="@{/contractors}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Застройщики</p>
          </a>
        </li>
        <li class="nav-item">
          <a th:href="@{/notaries}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Нотариусы</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a th:href="@{/black_list}" class="nav-link">
        <i class="nav-icon fas fa-calendar-minus"></i>
        <p>
          Черный список
        </p>
      </a>
    </li>
  </ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>
</div>

